@media screen and (max-width: 780px) {
   /*---------------------GENERALES------------------------*/
    :root{
    
        --separacion_estructura_general:20%;
        --separacion_estructura_tab_exp:5%;
        --separacion_sub_estruct:2.5%;
        --padding_txt_presentacion:3%;
        --separacion_dentro_caja:0.5%;
        --padding_tit_mini:1%;
        --padding_tit:1.5%;
        --padding_txt_apt:2.5%;
        --padding_txt_ficha:1.5%;
        --margen_tit_bajo:10%
    }
    /*---------------------FIXED----------------------------*/
    .fixed_cntct{
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        text-align: center;
        align-content: center;
        font-size: xx-small;
        width: 60px;
        height: 25px;
        left: 0%;
        bottom: 0%;
    }
    .boton_fixed{
        position: fixed;
        float: right;
        text-align: center;
        align-content: center;
        font-size: xx-small;
        width: 40px;
        height: 40px;
        right: 0%;
        bottom: 0%;
        
    }
       /*---------------------RADIAL------------------------*/
    .cont_header {
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: right;
        padding: var(--separacion_dentro_caja);
    }

    .img_header {
        height: 176px;
    }

    .barra_nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: var(--margen_tit_bajo);
    }

    /*---------------------PRESENTACION------------------------*/
    .txt_presentacion {
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: justify;
        padding: var(--padding_txt_presentacion);
    }

    /*---------------------FORMACION------------------------*/
    .div_form{
        position: relative;
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center ;
        text-align: center;
        margin: var(--separacion_sub_estruct);
        padding: var(--padding_txt_ficha );
        
    }
    .div_form_peq {
        position: relative;
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: var(--separacion_sub_estruct);
        padding: var(--padding_txt_ficha);
    }
    .cont_tit_mini_form{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: var(--separacion_sub_estruct);

        
    }
    /*---------------------APTITUDES------------------------*/
    .tit_apt {
        position: relative;
        width: 90%;
        display: flex;
        height: 7rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
   
        padding: var(--padding_tit);
    }
    .tit_mini_form{
        position: relative;
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: var(--separacion_dentro_caja);
        padding: var(--padding_tit_mini);
        
    }
    .txt_apt {
        position: relative;
        width: 75%;
        display: block;
        text-align: justify;
        margin: var(--separacion_sub_estruct);
        padding: var(--padding_txt_apt);
    }

    /*---------------------EXPERIENCIA------------------------*/
    .div_exp {
        position: relative;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: smaller;
    }
    .seccion_div_exp dd{
        position: relative;
        width: 83%;
        text-align: center;
        padding: var(--padding_txt_ficha);
    }
    
}
   /*---------------------CONTACTO------------------------*/
.correo_elec{
    position: relative;
    width: 50%;
    font-size: larger;
   
    padding: var(--separacion_sub_estruct);
}
.div_telefono{
    position: relative;
    width: 50%;
    font-size: larger;
   
    padding: var(--separacion_sub_estruct);
}