/*Bajo esta el esquema radial a la mitad de tamaño, se divide por dos el tamaño pero ojo, no el porcentaje de separación de las cajas dentro del cuerpo principal.
En un teléfono de tamaño medio-grande queda bien, pero me pienso si multiplicar por 0.5 lo dividido por 2.
Se ha hecho un onclick, pero está preparado para ser útil con hover, tambien se cambien los tamaños para que no molesten fuera.*/

@media screen and (max-width: 780px) {
    /*---------------GENERALES-------------------*/
    body{
        /*background-image:url('./multimedia/fondo_papel_movil.png');*/
        font-size: smaller;
    }
    /*----------------HEADER--------------------------*/
    .dispheader{
        width:11rem /*14rem230px----para calcular el tamaño divido por 2 y multiplico por 1´5*/;
        display: flex;
        flex-wrap: wrap;  
    }
    .blancoheader{
        width:  4rem /*4.5rem70px*/;
        height: 4rem /* 4.5rem70px*/;
        border-radius: var(--radiu_div_header);
        display: flex;
        visibility:hidden ; 
    }
    .despheader{
        width:11rem/*14rem230px*/;
        position: fixed;
        display: flex;
        flex-wrap: wrap; 
    }
    .cont_logoheader{
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
    
    }
    /*-----------------ZONA IZQUIERDA HEADER--------------------------------------------------*/
    .subcaja_head_izq{
        position: sticky;
        width: 30%;
        display: flex;
    }
    .subcaja_arriba_izq{
        width: 4rem /*4.5rem70px*/;
        height:  4rem /*4.5rem70px*/;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        border-radius: var(--radiu_div_header);
        background: var(--color_prueba);
        box-shadow: var(--sombra_clara);
        
       
    }
    .unionizqheaderarriba{
        width: 3rem /*70px*/;
        height:   4rem  /*4.5rem70px*/;
        background-color: aqua;
        visibility: hidden;
    }
    .unionabajoheaderizq{
        width: 100%;
        height: 3.7rem  /*4.5rem50px*/;
        background-color: aqua;
        visibility: hidden;
    }
    .cajaesquinaizq{
        width:  3.7rem /*4.5rem70px*/;
        height:  3.7rem   /*4.5rem70px*/;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        border-radius: var(--radiu_div_header);
        background: var(--color_prueba);
        box-shadow: var(--sombra_clara);
        z-index: 2;
        
    }
    
    .subcaja_bajo_iz{
        width: 3.7rem   /*4.5rem70px*/;
        height: 3.7rem    /*4.5rem70px*/;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        border-radius: var(--radiu_div_header);
        background: var(--color_prueba);
       
    }
    
    /*--------------------ZONA DERECHA HEADER---------------------------------------*/
    .subcaja_head_der{
        width:30%;
      
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        align-content: center;
        border-radius: var(--radiu_div_header);
    }
    .dispheaderder{
        width:10.5rem  /*14rem230px*/;
        position: fixed;
        display: flex;
        flex-wrap: wrap; 
        top: 0%;
    }
    .despheaderleft{
        width:10.5rem  /*14rem230px*/;
        position: sticky;
        display: flex;
        flex-wrap: wrap; 
        justify-content: right;
    }
    .unionderechaheaderarriba{
        width:3rem   /*3.5rem70px*/;
        height:3.7rem    /*4.5rem70px*/;
        background-color: aqua;
        visibility:hidden ;
    }
    .unionderechaheaderbajobis{
        width:7,875rem  /*10.5rem70px*/;
       /*height: 20px;*/
        background-color: aqua;
        visibility:hidden ;
    }
    .unionabajoheaderder{
        width: 31%;
        height:2.65rem /* 3.5rem70px*/;
        background-color: aqua;
        visibility:hidden ;
    }
    .cajaesquinader{
        width:3.7rem   /*4.5rem70px*/;
        height:3.7rem    /*4.5rem70px*/;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        border-radius: var(--radiu_div_header);
        background: var(--color_prueba);
        box-shadow: var(--sombra_clara);
        z-index: 2;
    }
    .subcaja_arriba_der{
        width:3.7rem/* 4.5rem 70px*/;
        height: 3.7rem /* 4.5rem70px*/;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        border-radius: var(--radiu_div_header);
        background: var(--color_prueba);
        box-shadow: var(--sombra_clara);
    }
    .subcaja_medio_der{
        width:3.7rem /*4.5rem 70px*/;
        height: 3.7rem  /*4.5rem70px*/;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        border-radius: 50%;
        background: var(--color_prueba);
        box-shadow: var(--sombra_clara);
    }
    .subcaja_bajo_der{
        width:3.7rem /*4.5rem 70px*/;
        height: 3.7rem  /*4.5rem70px*/;
        display: flex;
        float: right;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        border-radius: var(--radiu_div_header);
        background: var(--color_prueba);
        box-shadow: var(--sombra_clara);
    }
    .esconder{
    display: none;
    }
    .mostrar{
        display: flex;
        flex-wrap: wrap;  
    }
    /*----------------------------------FOOTER----------------------------------------------*/
    footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
}
.cont_footer{
    width: 60px;
    height: 60px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background:var(--color_prueba);
    border-radius:50% 50% 50% 0%;
}
.logo_footer{
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    z-index: 2;

}
    /*-------------------CUERPO---------------------------------------------------*/
    .cajaprincipal{
        width:25.25rem/* 810px*/;/*46% para responsive*/
        height:8.65rem/*276px*/;
        position:relative;
        margin-top: 45%;/*pongo este porcentaje para ver si queda en medio de los circulos las espigas*/
        
    }
    .subcajaarriba{
        width:6.95rem/*220px*/;/*sta cifra es para dejar un hueco en medio de cada una del mismo tamaño.*/
        height: 1.95rem/*57px*/;
        position: absolute; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;  
        align-items: center;
        align-content: center;
      
       
        border-radius: 3rem;
        border-radius: 6rem 0.4rem 6rem;
    }
    .unionarriba{
        position: absolute;
        width:6.95rem/*222px*/;
        height:5.2rem/*165px*/;
        left: 36%;
    }
    .subcajaizquierda{
        width:6.95rem/*220px*/;
        height:1.95rem/*57px*/;
        position:absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;  
        align-items: center;
     
       
        border-radius: 6rem 0.4rem 6rem;
    }
    .unionizquierda{
        position: absolute;
        width:16rem/*518px*/ ;
        height:1.95rem/*60px*/;
        top: 36%;
    }
    .subcajaderecha{
        width:6.95rem/*220px*/;
        height:1.95rem/*57px*/;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;  
        align-items: center;
        right: 0%;
        border-radius: 0.4rem 6rem 0.4rem;
      
    }
    .unionderecha{
        width:16rem/*518px*/;
        height:1.95rem/*60px*/;
        position: absolute;
        top: 38%;
        right: 0%;
    }
    .subcajaabajo{
        width: 6.95rem/*220px*/;
        height:1.95rem /*57px*/;
        position: absolute; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;  
        align-items: center;  
        bottom: 0vw;
      
       
        border-radius: 6rem 0.4rem 6rem;
    }
    .unionabajo{
        width:6.95rem/*222px*/;
        height:5.25rem/*173px */;
        position: absolute;
        bottom: 0vw;
        left: 36%;
    }
    
    .cajacentral{
        width:6.95rem/*220px*/;/*25.4% para hecerlo en responsive*/
        height:1.95rem/*57px*/;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;  
        align-items: center;
        left:36%;
        top:38%;
       
        border-radius: 2rem;
       
        z-index: 2;/*ñeñeñeñeñeñeñeñeñeñeñeñe.......que se queda onclick bajo y no se puede volver a dar*/
        
    }
    /*.disparador{
        left:36%;
        top:38%;
        width: 16vw;
        height: 16vh;
    }*/
    
  
}

