/*.cajaprincipal{
    width: 60vw;
    height: 80vh;
    position:relative;
    border: 1px solid black;
    background-color: gray;
}
.subcajaarriba{
    width:16vw; sta cifra es para dejar un hueco en medio de cada una del mismo tamaño.
    height: 16vh;
    position: absolute;    
    border: 1px solid black;
    background-color: rgba(255, 192, 203,0.5);
}
.unionarriba{
    position: absolute;
    width:17vw;
    height: 40vh;
    left: 36%;
}
.subcajaizquierda{
    width: 16vw;
    height: 16vh;
    position:absolute;
    border: 1px solid black;
    background-color: lightgreen;
}
.unionizquierda{
    position: absolute;
    width: 38vw;
    height: 16vh;
    top: 38%;
}
.subcajaderecha{
    width: 16vw;
    height: 16vh;
    position: absolute;
    right: 0%;
    border: 1px solid black;
    background-color: lightcyan;
}
.unionderecha{
    width: 38vw;
    height: 16vh;
    position: absolute;
    top: 38%;
    right: 0%;
}
.subcajaabajo{
    width: 16vw;
    height: 16vh;
    position: absolute;   
    bottom: 0vw;
    border:1px solid black;
    background-color: lightcoral;
}
.unionabajo{
    width:16vw ;
    height: 40vh;
    position: absolute;
    bottom: 0vw;
    left: 36%;
}

.cajacentral{
    width: 16vw;
    height: 16vh;
    position: absolute;
    left:36%;
    top:38%;
    border: 1px solid black;
    background-color: azure;
    
}*/
/*
esto estaba seleccionado.disparador{
    left:36%;
    top:38%;
    width: 16vw;
    height: 16vh;
}*/
/*
.desplegable>div{
   display: block;
}
.desplegable{
    display: none;    
    z-index: 1;
}
.disparador:hover .desplegable{
    background-color: red;
    display:block;
}
.disparador:active .desplegable{
    display: block;
}
.cajacentral:active{
    background-color: red;
}*/
/*OOOOOJJJOOOOOO para no perder el hover por el camino hasta el elemento deseado hay que encapsularlo dentro de otro div para poder hacer que se
toquen por tamaño pero que solo se muestre el contenido centrado dentro del div----lo normal seria no hacer tanta caja pero para uno radial hay
que gacer que no se pierda el caminito*/
/*--------------------------------------GENERALES-------------------------------------*/
* {
    margin: 0%;
    box-sizing: border-box;
}

:root {
    --radiu_div_header: 50%;
    --radius_div_radial: 6rem 0.4rem 6rem;
    --color_prueba: black
        /*url('./multimedia/dondobotonnegro.png')*/
    ;
    --sombra_clara: 0.3vh 0.3vh 0.3vh white
        /*0.3vh 0.3vh 0.3vh white*/
    ;
    --color_borde: white;
    --color_txt_tit: black;
}

body {
    /*
    background:#0c0c4e;
    background-attachment: fixed;  
    background-repeat: no-repeat;
  background-size: 100% 100%;
   color: white;
   font-size: medium;
    */
    /*background-image:url('./multimedia/fondo_papel_pc.png');*/
    background-color: rgb(75, 71, 71);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body p {
    background-color: white;
    border-radius: 5px;

}
a{
    text-decoration: none;
    color: white;
}

/*--------------------------------HEADER----------------------------------------------*/
.megahead {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0%;

}

.cajaheader {
    position: sticky;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.dispheader {
    width: 50%
        /*230px*/
    ;
    display: flex;
    flex-wrap: wrap;
}

.blancoheader {
    width: 5rem
        /*70px*/
    ;
    height: 5rem
        /*70px*/
    ;
    border-radius: var(--radiu_div_header);
    display: flex;
    visibility: hidden;
}

.despheader {
    width: 50%
        /*230px*/
    ;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
}

/*-----------------ZONA IZQUIERDA HEADER--------------------------------------------------*/
.subcaja_head_izq {
    position: sticky;
    width: 30%;
    display: flex;
    color: var(--color_txt_tit);

}

.subcaja_arriba_izq {
    width: 5rem
        /*70px*/
    ;
    height: 5rem
        /*70px*/
    ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: var(--radiu_div_header);
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
    color: var(--color_txt_tit);


}

.unionizqheaderarriba {
    width: 5rem
        /*70px*/
    ;
    height: 5rem
        /*70px*/
    ;
    background-color: aqua;
    visibility: hidden;
}

.unionabajoheaderizq {
    width: 100%;
    height: 5rem
        /*50px*/
    ;
    background-color: aqua;
    visibility: hidden;
}

.cajaesquinaizq {
    width: 5rem
        /*70px*/
    ;
    height: 5rem
        /*70px*/
    ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: var(--radiu_div_header);
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
    z-index: 2;
    color: var(--color_txt_tit);
}

.subcaja_bajo_iz {
    width: 5rem
        /*70px*/
    ;
    height: 5rem
        /*70px*/
    ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: var(--radiu_div_header);
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
    color: var(--color_txt_tit);
    color: var(--color_txt_tit);
}
/*------------------------------TXT IZQUIERDA-----------------------------------------*/

.caja_txt_header{
    width: 30%;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}
.cuerpo_txt_header{
    width: 15rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    border-radius: 50%;
    border-radius:6rem 0.4rem 6rem;
    margin: 2px;
    padding: 4px;
    
}
.tit_txt_header{
    width: 10rem;
   color: white;
    
   
}
.txt_header{
    width: 10rem;
   color: white;
  
  
}
/*--------------------ZONA DERECHA HEADER---------------------------------------*/
.subcaja_head_der {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-content: center;
    border-radius: var(--radiu_div_header);
    color: var(--color_txt_tit);
}

.dispheaderder {
    width: 15rem
        /*230px*/
    ;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    top: 0%;
}

.despheaderleft {
    width: 15rem
        /*230px*/
    ;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.unionderechaheaderarriba {
    width: 5rem
        /*70px*/
    ;
    height: 5rem
        /*70px*/
    ;
    background-color: aqua;
    visibility: hidden;
}

.unionderechaheaderbajobis {
    width: 11rem
        /*70px*/
    ;
    /*height: 20px;*/
    background-color: aqua;
    visibility: hidden;
}

.unionabajoheaderder {
    width: 4.7rem;
    height: 5rem
        /*70px*/
    ;
    background-color: aqua;
    visibility: hidden;
}

.cajaesquinader {
    width: 5rem
        /*70px*/
    ;
    height: 5rem
        /*70px*/
    ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: var(--radiu_div_header);
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
    color: var(--color_txt_tit);
    z-index: 2;
}

.subcaja_arriba_der {
    width: 5rem
        /*70px*/
    ;
    height: 5rem
        /*70px*/
    ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: var(--radiu_div_header);
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
    color: var(--color_txt_tit);
}

.subcaja_medio_der {
    width: 5rem;
    height: 5rem
        /*70px*/
    ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
    color: var(--color_txt_tit);
}

.subcaja_bajo_der {
    width: 5rem
        /*70px*/
    ;
    height: 5rem
        /*70px*/
    ;
    display: flex;
    float: right;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: var(--radiu_div_header);
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
    color: var(--color_txt_tit);
}

.esconder {
    display: none;
}

.mostrar {
    display: flex;
    flex-wrap: wrap;
}

/*-----------------------------------FOOTER------------------------------------------*/
footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
}

.cont_footer {
    width: 60px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--color_prueba);
    border-radius: 50% 50% 50% 0%;
}

.logo_footer {
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2;

}

/*----------------------------CUERPO--------------------------------------------------*/
.main_cur_web {
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 10%;

}

.cont_cajaprincipal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.8%;
}

.cajaprincipal {
    width: 50.5rem
        /* 810px*/
    ;
    /*46% para responsive*/
    height: 17.3rem
        /*276px*/
    ;
    position: relative;
    /* border: 1px solid black;
    background-color: gray;*/
}

.subcajaarriba {
    width: 13.9rem
        /*220px*/
    ;
    /*sta cifra es para dejar un hueco en medio de cada una del mismo tamaño.*/
    height: 3.9rem
        /*57px*/
    ;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
    border-radius: 3rem;
    border-radius: var(--radius_div_radial);
    border: 0.7px solid var(--color_borde);
    color: var(--color_txt_tit);

}

.unionarriba {
    position: absolute;
    width: 13.9rem
        /*222px*/
    ;
    height: 10.4rem
        /*165px*/
    ;
    left: 36%;
}

.subcajaizquierda {
    width: 13.9rem
        /*220px*/
    ;
    height: 3.9rem
        /*57px*/
    ;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 0.7px solid var(--color_borde);
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
    border-radius: var(--radius_div_radial);
    color: var(--color_txt_tit);
}

.unionizquierda {
    position: absolute;
    width: 32rem
        /*518px*/
    ;
    height: 3.9rem
        /*60px*/
    ;
    top: 38%;
}

.subcajaderecha {
    width: 13.9rem
        /*220px*/
    ;
    height: 3.9rem
        /*57px*/
    ;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    right: 0%;
    border-radius: var(--radius_div_radial);
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
    border: 0.7px solid var(--color_borde);
    color: var(--color_txt_tit);
}

.unionderecha {
    width: 32rem
        /*518px*/
    ;
    height: 3.9rem
        /*60px*/
    ;
    position: absolute;
    top: 38%;
    right: 0%;
}

.subcajaabajo {
    width: 13.9rem
        /*220px*/
    ;
    height: 3.9rem
        /*57px*/
    ;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: 0vw;
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
    border-radius: var(--radius_div_radial);
    border: 0.7px solid var(--color_borde);
    color: var(--color_txt_tit);
}

.unionabajo {
    width: 13.9rem
        /*222px*/
    ;
    height: 10.5rem
        /*173px */
    ;
    position: absolute;
    bottom: 0vw;
    left: 36%;
}

.cajacentral {
    width: 13.9rem
        /*220px*/
    ;
    /*25.4% para hecerlo en responsive*/
    height: 3.9rem
        /*57px*/
    ;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    left: 36%;
    top: 38%;
    border-radius: 2rem;
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
    border: 0.7px solid var(--color_borde);
    z-index: 2;
    /*ñeñeñeñeñeñeñeñeñeñeñeñe.......que se queda onclick bajo y no se puede volver a dar*/
    color: var(--color_txt_tit);

}

/*.disparador{
    left:36%;
    top:38%;
    width: 16vw;
    height: 16vh;
}*/

.desplegable {
    display: none;
    z-index: 1;
}

.mostrar_bis {
    display: block;

}

/*
.disparador:hover .desplegable{
    background-color: red;
    display:block;
}
.disparador:active .desplegable{
    display: block;
}
.cajacentral:active{
    background-color: red;
}
/*OOOOOJJJOOOOOO para no perder el hover por el camino hasta el elemento deseado hay que encapsularlo dentro de otro div para poder hacer que se
toquen por tamaño pero que solo se muestre el contenido centrado dentro del div----lo normal seria no hacer tanta caja pero para uno radial hay
que gacer que no se pierda el caminito*/