/*.cajaprincipal{
    width: 60vw;
    height: 80vh;
    position:relative;
    border: 1px solid black;
    background-color: gray;
}
.subcajaarriba{
    width:16vw; sta cifra es para dejar un hueco en medio de cada una del mismo tamaño.
    height: 16vh;
    position: absolute;    
    border: 1px solid black;
    background-color: rgba(255, 192, 203,0.5);
}
.unionarriba{
    position: absolute;
    width:17vw;
    height: 40vh;
    left: 36%;
}
.subcajaizquierda{
    width: 16vw;
    height: 16vh;
    position:absolute;
    border: 1px solid black;
    background-color: lightgreen;
}
.unionizquierda{
    position: absolute;
    width: 38vw;
    height: 16vh;
    top: 38%;
}
.subcajaderecha{
    width: 16vw;
    height: 16vh;
    position: absolute;
    right: 0%;
    border: 1px solid black;
    background-color: lightcyan;
}
.unionderecha{
    width: 38vw;
    height: 16vh;
    position: absolute;
    top: 38%;
    right: 0%;
}
.subcajaabajo{
    width: 16vw;
    height: 16vh;
    position: absolute;   
    bottom: 0vw;
    border:1px solid black;
    background-color: lightcoral;
}
.unionabajo{
    width:16vw ;
    height: 40vh;
    position: absolute;
    bottom: 0vw;
    left: 36%;
}

.cajacentral{
    width: 16vw;
    height: 16vh;
    position: absolute;
    left:36%;
    top:38%;
    border: 1px solid black;
    background-color: azure;
    
}*/
/*
esto estaba seleccionado.disparador{
    left:36%;
    top:38%;
    width: 16vw;
    height: 16vh;
}*/
/*
.desplegable>div{
   display: block;
}
.desplegable{
    display: none;    
    z-index: 1;
}
.disparador:hover .desplegable{
    background-color: red;
    display:block;
}
.disparador:active .desplegable{
    display: block;
}
.cajacentral:active{
    background-color: red;
}*/
/*OOOOOJJJOOOOOO para no perder el hover por el camino hasta el elemento deseado hay que encapsularlo dentro de otro div para poder hacer que se
toquen por tamaño pero que solo se muestre el contenido centrado dentro del div----lo normal seria no hacer tanta caja pero para uno radial hay
que gacer que no se pierda el caminito*/
/*--------------------------------------GENERALES-------------------------------------*/
*{
    margin: 0%;
    box-sizing: border-box;
}
:root{
    --radiu_div_header:50%;
    --radius_div_radial:6rem 0.4rem 6rem;
    --color_prueba:rgba(255, 17, 0,0.7)/*url('./multimedia/dondobotonnegro.png')*/ ;
    --sombra_clara:0.3vh 0.3vh 0.3vh rgb(122, 183, 252);
    --color_borde:white;
}
body{/*
    background:#0c0c4e;
    background-attachment: fixed;  
    background-repeat: no-repeat;
  background-size: 100% 100%;
   color: white;
   font-size: medium;
    */
    background:url('./multimedia/fondowebgrande.png');
    background-attachment: fixed;  
    background-repeat: no-repeat;
  background-size: 100% 100%;
   
 
}
/*--------------------------------HEADER----------------------------------------------*/
.megahead{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 0%;
}
.cajaheader{
    position:sticky;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 z-index: 2;
}
.dispheader{
    width:14rem /*230px*/;
    display: flex;
    flex-wrap: wrap;  
}
.blancoheader{
    width:  4.5rem /*70px*/;
    height:  4.5rem /*70px*/;
    border-radius: var(--radiu_div_header);
    display: flex;
    visibility:hidden ; 
}
.despheader{
    width:14rem/*230px*/;
    position: fixed;
    display: flex;
    flex-wrap: wrap; 
}
/*-----------------ZONA IZQUIERDA HEADER--------------------------------------------------*/
.subcaja_head_izq{
    position: sticky;
    display: flex;
}
.subcaja_arriba_izq{
    width: 4.5rem /*70px*/;
    height:  4.5rem /*70px*/;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: var(--radiu_div_header);
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
   
}
.unionizqheaderarriba{
    width: 3.5rem /*70px*/;
    height:  4.5rem /*70px*/;
    background-color: aqua;
    visibility: hidden;
}
.unionabajoheaderizq{
    width: 100%;
    height:4.5rem /*50px*/;
    background-color: aqua;
    visibility: hidden;
}
.cajaesquinaizq{
    width:4.5rem /*70px*/;
    height:  4.5rem /*70px*/;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: var(--radiu_div_header);
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
    z-index: 2;
}

.subcaja_bajo_iz{
    width: 4.5rem /*70px*/;
    height:  4.5rem /*70px*/;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: var(--radiu_div_header);
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
}

/*--------------------ZONA DERECHA HEADER---------------------------------------*/
.subcaja_head_der{
    width: 14rem /*70px*/;
   height:  4.5rem /*70px*/;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-content: center;
    border-radius: var(--radiu_div_header);
    box-shadow: var(--sombra_clara);
}
.dispheaderder{
    width: 14rem /*230px*/;
    position: fixed;
    display: flex;
    flex-wrap: wrap; 
    top: 0%;
}
.despheaderleft{
    width: 14rem /*230px*/;
    position: sticky;
    display: flex;
    flex-wrap: wrap; 
    justify-content: right;
}
.unionderechaheaderarriba{
    width: 3.5rem /*70px*/;
    height:  4.5rem /*70px*/;
    background-color: aqua;
    visibility:hidden ;
}
.unionderechaheaderbajobis{
    width: 10.5rem /*70px*/;
   /*height: 20px;*/
    background-color: aqua;
    visibility:hidden ;
}
.unionabajoheaderder{
    width: 29%;
    height: 3.5rem /*70px*/;
    background-color: aqua;
    visibility:hidden ;
}
.cajaesquinader{
    width: 4.5rem /*70px*/;
    height:  4.5rem /*70px*/;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: var(--radiu_div_header);
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
    z-index: 2;
}
.subcaja_arriba_der{
    width: 4.5rem /*70px*/;
    height:  4.5rem /*70px*/;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: var(--radiu_div_header);
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
}
.subcaja_medio_der{
    width: 4.5rem /*70px*/;
    height:  4.5rem /*70px*/;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
}
.subcaja_bajo_der{
    width: 4.5rem /*70px*/;
    height:  4.5rem /*70px*/;
    display: flex;
    float: right;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: var(--radiu_div_header);
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
}
.esconder{
display: none;
}
.mostrar{
    display: flex;
    flex-wrap: wrap;  
}

/*----------------------------CUERPO--------------------------------------------------*/
.main_cur_web{
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   margin-top: 20%;

}
.cont_cajaprincipal{
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.8%;
}
.cajaprincipal{
    width:50.5rem/* 810px*/;/*46% para responsive*/
    height:17.3rem/*276px*/;
    position:relative;
   
    
   /* border: 1px solid black;
    background-color: gray;*/
}
.subcajaarriba{
    width:13.9rem/*220px*/;/*sta cifra es para dejar un hueco en medio de cada una del mismo tamaño.*/
    height: 3.9rem/*57px*/;
    position: absolute; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;
    align-content: center;
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
    border-radius: 3rem;
    border-radius: var(--radius_div_radial);
   border: 0.7px solid var(--color_borde);
    
}
.unionarriba{
    position: absolute;
    width:13.9rem/*222px*/;
    height:10.4rem/*165px*/;
    left: 36%;
}
.subcajaizquierda{
    width:13.9rem/*220px*/;
    height:3.9rem/*57px*/;
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;
    border: 0.7px solid var(--color_borde);
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
    border-radius: var(--radius_div_radial);
}
.unionizquierda{
    position: absolute;
    width:32rem/*518px*/ ;
    height:3.9rem/*60px*/;
    top: 38%;
}
.subcajaderecha{
    width:13.9rem/*220px*/;
    height:3.9rem/*57px*/;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;
    right: 0%;
    border-radius:  var(--radius_div_radial);
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
    border: 0.7px solid var(--color_borde);
}
.unionderecha{
    width:32rem/*518px*/;
    height:3.9rem/*60px*/;
    position: absolute;
    top: 38%;
    right: 0%;
}
.subcajaabajo{
    width: 13.9rem/*220px*/;
    height:3.9rem /*57px*/;
    position: absolute; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;  
    bottom: 0vw;
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
    border-radius:  var(--radius_div_radial);
    border: 0.7px solid var(--color_borde);
}
.unionabajo{
    width:13.9rem/*222px*/;
    height:10.5rem/*173px */;
    position: absolute;
    bottom: 0vw;
    left: 36%;
}

.cajacentral{
    width:13.9rem/*220px*/;/*25.4% para hecerlo en responsive*/
    height:3.9rem/*57px*/;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;
    left:36%;
    top:38%;
    border-radius: 2rem;
    background: var(--color_prueba);
    box-shadow: var(--sombra_clara);
    border: 0.7px solid var(--color_borde);
    z-index: 2;/*ñeñeñeñeñeñeñeñeñeñeñeñe.......que se queda onclick bajo y no se puede volver a dar*/
    
}
/*.disparador{
    left:36%;
    top:38%;
    width: 16vw;
    height: 16vh;
}*/

.desplegable{
    display: none;    
    z-index: 1;
}

    .mostrar_bis{
        display: block;
        
    }
/*
.disparador:hover .desplegable{
    background-color: red;
    display:block;
}
.disparador:active .desplegable{
    display: block;
}
.cajacentral:active{
    background-color: red;
}
/*OOOOOJJJOOOOOO para no perder el hover por el camino hasta el elemento deseado hay que encapsularlo dentro de otro div para poder hacer que se
toquen por tamaño pero que solo se muestre el contenido centrado dentro del div----lo normal seria no hacer tanta caja pero para uno radial hay
que gacer que no se pierda el caminito*/
