/*.cajaprincipal{
    width: 60vw;
    height: 80vh;
    position:relative;
    border: 1px solid black;
    background-color: gray;
}
.subcajaarriba{
    width:16vw; sta cifra es para dejar un hueco en medio de cada una del mismo tamaño.
    height: 16vh;
    position: absolute;    
    border: 1px solid black;
    background-color: rgba(255, 192, 203,0.5);
}
.unionarriba{
    position: absolute;
    width:17vw;
    height: 40vh;
    left: 36%;
}
.subcajaizquierda{
    width: 16vw;
    height: 16vh;
    position:absolute;
    border: 1px solid black;
    background-color: lightgreen;
}
.unionizquierda{
    position: absolute;
    width: 38vw;
    height: 16vh;
    top: 38%;
}
.subcajaderecha{
    width: 16vw;
    height: 16vh;
    position: absolute;
    right: 0%;
    border: 1px solid black;
    background-color: lightcyan;
}
.unionderecha{
    width: 38vw;
    height: 16vh;
    position: absolute;
    top: 38%;
    right: 0%;
}
.subcajaabajo{
    width: 16vw;
    height: 16vh;
    position: absolute;   
    bottom: 0vw;
    border:1px solid black;
    background-color: lightcoral;
}
.unionabajo{
    width:16vw ;
    height: 40vh;
    position: absolute;
    bottom: 0vw;
    left: 36%;
}

.cajacentral{
    width: 16vw;
    height: 16vh;
    position: absolute;
    left:36%;
    top:38%;
    border: 1px solid black;
    background-color: azure;
    
}*/
/*
esto estaba seleccionado.disparador{
    left:36%;
    top:38%;
    width: 16vw;
    height: 16vh;
}*/
/*
.desplegable>div{
   display: block;
}
.desplegable{
    display: none;    
    z-index: 1;
}
.disparador:hover .desplegable{
    background-color: red;
    display:block;
}
.disparador:active .desplegable{
    display: block;
}
.cajacentral:active{
    background-color: red;
}*/
/*OOOOOJJJOOOOOO para no perder el hover por el camino hasta el elemento deseado hay que encapsularlo dentro de otro div para poder hacer que se
toquen por tamaño pero que solo se muestre el contenido centrado dentro del div----lo normal seria no hacer tanta caja pero para uno radial hay
que gacer que no se pierda el caminito*/
/*--------------------------------HEADER----------------------------------------------*/
.cajaheader{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: gray;
    align-items: center;
}
.dispheader{
    width: 230px;
    display: none;
    flex-wrap: wrap;  
}
.subcaja_head_izq{
    
   
}
.unionizqheaderarriba{
    width: 75px;
    height: 20px;
    background-color: aqua;
}
.unionabajoheaderizq{
    width: 100%;
    height: 40px;
    background-color: aqua;
}
.cajadisparador{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
}
.subcaja_arriba_izq{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: blueviolet;
}
.subcaja_bajo_iz{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: palevioletred;
}
.disparador:hover .subcaja_head_izq{
    display: flex;
    flex-wrap: wrap;
}



/*----------------------------CUERPO--------------------------------------------------*/
.main_cur_web{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.cajaprincipal{
    width: 810px/*60vw*/;
    height:276px /*80vh*/;
    position:relative;
    border: 1px solid black;
    background-color: gray;
}
.subcajaarriba{
    width:220px;/*sta cifra es para dejar un hueco en medio de cada una del mismo tamaño.*/
    height: 57px;
    position: absolute; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;
    align-content: center;
    font-size: xx-small;
    border: 1px solid black;
    background-color: rgba(255, 192, 203,0.5);
}
.unionarriba{
    position: absolute;
    width:222px/*17vw*/;
    height:165px /*40vh*/;
    left: 36%;
}
.subcajaizquierda{
    width:220px/* 16vw*/;
    height:57px/* 16vh*/;
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;
    border: 1px solid black;
    background-color: lightgreen;
}
.unionizquierda{
    position: absolute;
    width:518px /*38vw*/;
    height:60px /*16vh*/;
    top: 38%;
}
.subcajaderecha{
    width:220px /*16vw*/;
    height:57px /*16vh*/;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;
    right: 0%;
    border: 1px solid black;
    background-color: lightcyan;
}
.unionderecha{
    width:518px /*38vw*/;
    height:60px /*16vh*/;
    position: absolute;
    top: 38%;
    right: 0%;
}
.subcajaabajo{
    width:220px /*16vw*/;
    height:57px /*16vh*/;
    position: absolute; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;  
    bottom: 0vw;
    border:1px solid black;
    background-color: lightcoral;
}
.unionabajo{
    width:222px/*16vw*/;
    height:173px /*40vh*/;
    position: absolute;
    bottom: 0vw;
    left: 36%;
}

.cajacentral{
    width:220px /*16vw*/;
    height:57px /*16vh*/;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;
    left:36%;
    top:38%;
    border: 1px solid black;
    background-color: azure;
    
}
/*.disparador{
    left:36%;
    top:38%;
    width: 16vw;
    height: 16vh;
}*/
.desplegable>div{
   display: block;
}
.desplegable{
    display: none;    
    z-index: 1;
}
.disparador:hover .desplegable{
    background-color: red;
    display:block;
}
.disparador:active .desplegable{
    display: block;
}
.cajacentral:active{
    background-color: red;
}
/*OOOOOJJJOOOOOO para no perder el hover por el camino hasta el elemento deseado hay que encapsularlo dentro de otro div para poder hacer que se
toquen por tamaño pero que solo se muestre el contenido centrado dentro del div----lo normal seria no hacer tanta caja pero para uno radial hay
que gacer que no se pierda el caminito*/