/*-----------------------------------------------------------------GENERALES---------------------------------------------*/
:root {
    --fondo_header:none;
    --shadow_img_header:black/*rgb(92, 91, 91)*/;
    --fondo_foto: blue;
    --radius_foto: 50%;
    --color_nav_up: orange;
    --color_nav_down: orange;
    --color_nav_left: orange;
    --color_nav_right: orange;
    --color_nav_center: green;
    --color_borde_nav: white;
    --color_txt_nav: black;
    --shadow_nav: 0.3vh 0.3vh 0.3vh lightblue;
    --radius_radial: 6rem 0.4rem 6rem;
    --radius_txt_presentacion: 10px;
    --color_fondo_txt_presentacion: lightpink;
    --color_borde_txt_presentacion: black:var(--color_borde_nav);
    --color_letra_presentacion: black;
    --shadow_txt_presentacion: 0.3vh 0.3vh 0.3vh violet;
    --fondo_div_form: rgb(185, 76, 212);
    --borde_div_form: black;
    --col_letra_div_form: white;
    --shadow_div_form: 0.3vh 0.3vh 0.3vh rgba(86, 8, 105, 0.5);
    --radius_div_form: 10px;
    --fondo_div_form_peq: rgb(185, 76, 212);
    --borde_div_form_peq: black;
    --col_letra_div_form_peq: white;
    --shadow_div_form_peq: 0.3vh 0.3vh 0.3vh rgba(86, 8, 105, 0.5);
    --radius_div_form_peq: 10px;
    --fondo_tit_form: rgb(168, 168, 13);
    --borde_tit_form: yellow;
    --shadow_tit_form: lightyellow;
    --radius_tit_form: 15px;
    --letra_tit_form: pink;
    --tam_tit_form: x-large;
    --tam_letra_mini_tit_form: larger;
    --radius_tit_apt: 10px;
    --fondo_tit_apt: rgb(255, 0, 0, 0.5);
    --shadow_tit_apt: rgba(255, 0, 0, 0.7);
    --borde_tit_apt: red;
    --col_letra_tit_apt: black;
    --radius_txt_apt: 10px;
    --fondo_txt_apt: rgba(166, 255, 0, 0.5);
    --shadow_txt_apt: rgba(255, 0, 0, 0.7);
    --borde_txt_apt: red;
    --col_letra_txt_apt: black;
    --radius_tit_esp: 10px;
    --fondo_tit_esp: rgba(0, 255, 242, 0.822);
    --shadow_tit_esp: rgba(0, 119, 255, 0.7);
    --borde_tit_esp: rgb(255, 238, 0);
    --col_letra_tit_esp: black;
    --radius_div_esp: 10px;
    --fondo_div_esp: rgba(0, 255, 242, 0.945);
    --shadow_div_esp: rgb(81, 255, 0);
    --borde_div_esp: rgb(255, 136, 0);
    --col_letra_div_esp: black;
    --tam_tit_esp: x-large;
    --radius_tit_trabj: 5px;
    --fondo_tit_trabj: rgba(0, 255, 149, 0.5);
    --shadow_tit_trabj: rgba(157, 255, 0, 0.7);
    --borde_tit_trabj: rgb(0, 38, 255);
    --col_letra_tit_trabj: black;
    --tam_tit_trabj: x-large;
    --radius_dd_exp: 5px;
    --fondo_dd_exp: rgba(0, 255, 98, 0.5);
    --shadow_dd_exp: rgba(204, 94, 219, 0.938);
    --borde_dd_exp: rgb(197, 212, 212);
    --col_letra_dd_exp: black;
    --tam_tit_trabj: x-large;
    --tam_tit_cntct: x-large;
    --radius_tit_cntct: 5px;
    --fondo_tit_cntct: rgba(255, 0, 221, 0.664);
    --shadow_tit_cntct: rgba(204, 94, 219, 0.938);
    --borde_tit_cntct: rgb(253, 0, 0);
    --col_letra_tit_cntct: black;
    --tam_tit_correo: x-large;
    --radius_crp_cntct: 5px;
    --fondo_crp_cntct: rgba(255, 102, 0, 0.664);
    --shadow_crp_cntct: rgba(148, 46, 5, 0.938);
    --borde_crp_cntct: rgb(253, 80, 0);
    --col_letra_crp_cntct: black;
    --tam_div_correo: medium;
    --radius_div_correo: 5px;
    --fondo_div_correo: rgba(0, 247, 255, 0.664);
    --shadow_div_correo: rgba(23, 20, 216, 0.938);
    --borde_div_correo: rgb(38, 0, 253);
    --col_letra_div_correo: black;
    --tam_div_tlfn: medium;
    --radius_div_tlfn: 5px;
    --fondo_div_tlfn: rgba(0, 247, 255, 0.664);
    --shadow_div_tlfn: rgba(23, 20, 216, 0.938);
    --borde_div_tlfn: rgb(38, 0, 253);
    --col_letra_div_tlfn: black;


}

a {
    color: black
}

/*-------------------------------------------------------------------HEADER-----------------------------------------------*/
.cont_header {
    background-color: var(--fondo_header);
}

.img_header {
   
    border-radius: var(--radius_foto);
   
}


body {
    background-image:   radial-gradient(white,darkgray ,gray);
    
}

/*----------------RADIAL-----------*/
.txt_radial_bis {

    color: black;
    box-shadow: 0.5px 0.5px 0.5px rgb(255, 199, 147);
    border-radius: 5px;
    padding: 0.5%;
}

.txt_radial {
    color: black;
    box-shadow: 0.5px 0.5px 0.5px rgb(255, 199, 147);
    border-radius: 5px;
    padding: 0.5%;
}

.cajacentral {
    border-radius: 0.5rem;
    border: 0.7px solid var(--color_borde_nav);
    background: var(--color_nav_center);
    box-shadow: var(--shadow_nav);
    color: var(--color_txt_nav);

}

.subcajaarriba {
    background: var(--color_nav_up);
    box-shadow: var(--shadow_nav);
    border-radius: var(--radius_radial);
    border: 0.7px solid var(--color_borde_nav);
    color: var(--color_txt_nav);
}

.subcajaizquierda {
    border: 0.7px solid var(--color_borde_nav);
    background: var(--color_nav_right);
    box-shadow: var(--shadow_nav);
    border-radius: var(--radius_radial);
    color: var(--color_txt_nav);
}

.subcajaderecha {
    border-radius: var(--radius_radial);
    background: var(--color_nav_left);
    box-shadow: var(--shadow_nav);
    border: 0.7px solid var(--color_borde_nav);
    color: var(--color_txt_nav);
}

.subcajaabajo {
    border-radius: var(--radius_radial);
    background: var(--color_nav_down);
    box-shadow: var(--shadow_nav);
    border: 0.7px solid var(--color_borde_nav);
    color: var(--color_txt_nav);
}

/*--------------------------------------------------------------------MAIN------------------------------------------------*/
/*---------------PRESENTACION--------------*/
.txt_presentacion {
    border-radius: var(--radius_txt_presentacion);
    background: var(--color_fondo_txt_presentacion);
    background-image: linear-gradient(to bottom right, beige, white);
    box-shadow: var(--shadow_txt_presentacion);
    border: 0.7px solid var(--color_borde_txt_presentacion);
    color: var(--color_letra_presentacion);
}

/*----------------FORMACION----------------*/
.div_form {
    border-radius: var(--radius_div_form);
    background: var(--fondo_div_form);
    box-shadow: var(--shadow_div_form);
    border: 0.7px solid var(--borde_div_form);
    color: var(--col_letra_div_form);
}

.div_form_peq {
    border-radius: var(--radius_div_form_peq);
    background: var(--fondo_div_form_peq);
    box-shadow: var(--shadow_div_form_peq);
    border: 0.7px solid var(--borde_div_form_peq);
    color: var(--col_letra_div_form_peq);
}

.tit_form {
    border-radius: var(--radius_tit_form);
    background: var(--fondo_tit_form);
    box-shadow: var(--shadow_tit_form);
    border: 0.7px solid var(--borde_tit_form);
    color: var(--col_letra_div_form);
    font-size: var(--tam_tit_form);
}

.tit_mini_form {
    border-radius: var(--radius_div_form);
    background: var(--fondo_div_form);
    box-shadow: var(--shadow_div_form);
    border: 0.7px solid var(--borde_div_form);
    color: var(--col_letra_div_form);
    font-size: var(--tam_letra_mini_tit_form);

}

/*----------------APTITUDES----------------*/
.tit_apt {
    border-radius: var(--radius_tit_apt);
    background: var(--fondo_tit_apt);
    box-shadow: var(--shadow_tit_apt);
    border: 0.7px solid var(--borde_tit_apt);
    color: var(--col_letra_tit_apt);
    font-size: var(--tam_tit_form);
}

.txt_apt {
    border-radius: var(--radius_txt_apt);
    background: var(--fondo_txt_apt);
    box-shadow: var(--shadow_txt_apt);
    border: 0.7px solid var(--borde_txt_apt);
    color: var(--col_letra_txt_apt);
    font-size: var(--tam_txt_form);
}

/*----------------EXPERIENCIA----------------*/
.tit_exp {
    border-radius: var(--radius_tit_esp);
    background: var(--fondo_tit_esp);
    box-shadow: var(--shadow_tit_esp);
    border: 0.7px solid var(--borde_tit_esp);
    color: var(--col_letra_tit_esp);
    font-size: var(--tam_tit_esp);
}

.div_exp {
    border-radius: var(--radius_div_esp);
    background: var(--fondo_div_esp);
    box-shadow: var(--shadow_div_esp);
    border: 0.7px solid var(--borde_div_esp);
    color: var(--col_letra_div_esp);
    font-size: var(--tam_div_esp);
}

.tit_trabj_exp {
    border-radius: var(--radius_tit_trabj);
    background: var(--fondo_tit_trabj);
    box-shadow: var(--shadow_tit_trabj);
    border: 0.7px solid var(--borde_tit_trabj);
    color: var(--col_letra_tit_trabj);
    font-size: var(--tam_tit_trabj);
}

.seccion_div_exp dd {
    border-radius: var(--radius_dd_exp);
    background: var(--fondo_dd_exp);
    box-shadow: var(--shadow_dd_exp);
    border: 0.7px solid var(--borde_dd_exp);
    color: var(--col_letra_dd_exp);
    font-size: var(--tam_dd_exp);
}

/*--------------------------------------------------------------------------FOOTER---------------------------------------------------------------------------*/
.tit_contct {
    border-radius: var(--radius_tit_cntct);
    background: var(--fondo_tit_cntct);
    box-shadow: var(--shadow_tit_cntct);
    border: 0.7px solid var(--borde_tit_cntct);
    color: var(--col_letra_tit_cntct);
    font-size: var(--tam_tit_cntct);
}

.cuerpo_contct {
    border-radius: var(--radius_crp_cntct);
    background: var(--fondo_crp_cntct);
    box-shadow: var(--shadow_crp_cntct);
    border: 0.7px solid var(--borde_crp_cntct);
    color: var(--col_letra_crp_cntct);
    font-size: var(--tam_crp_cntct);
}

.correo_elec {
    border-radius: var(--radius_div_correo);
    background: var(--fondo_div_correo);
    box-shadow: var(--shadow_div_correo);
    border: 0.7px solid var(--borde_div_correo);
    color: var(--col_letra_div_correo);
    font-size: var(--tam_div_correo);
}

.div_telefono {
    border-radius: var(--radius_div_tlfn);
    background: var(--fondo_div_tlfn);
    box-shadow: var(--shadow_div_tlfn);
    border: 0.7px solid var(--borde_div_tlfn);
    color: var(--col_letra_div_tlfn);
    font-size: var(--tam_div_tlfn);
}