/*-----------------------------------------------------------------GENERALES---------------------------------------------*/
:root {
    --fondo_header: lightcyan;
    --fondo_foto: blue;
    --radius_foto: 50%;
    --color_nav_up: orange;
    --color_nav_down: orange;
    --color_nav_left: orange;
    --color_nav_right: orange;
    --color_nav_center: green;
    --color_borde_nav: white;
    --color_txt_nav: black;
    --shadow_nav: 0.3vh 0.3vh 0.3vh lightblue;
    --radius_radial: 6rem 0.4rem 6rem;
    --radius_txt_presentacion:10px;
    --color_fondo_txt_presentacion:lightpink;
    --color_borde_txt_presentacion:black:var(--color_borde_nav);
    --color_letra_presentacion:black;
    --shadow_txt_presentacion: 0.3vh 0.3vh 0.3vh violet;
    --fondo_div_form: rgb(185, 76, 212);
    --borde_div_form:black;
    --col_letra_div_form:white;
    --shadow_div_form:0.3vh 0.3vh 0.3vh rgba(86, 8, 105,0.5);
    --radius_div_form:5px;

}

/*-------------------------------------------------------------------HEADER-----------------------------------------------*/
.cont_header {
    background-color: var(--fondo_header);
}

.img_header {
    background-color: var(--fondo_foto);
    border-radius: var(--radius_foto);
}

/*------------------------------------------------------------------BARRA NAV---------------------------------------------*/
.main_CV {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

/*----------------RADIAL-----------*/
.cajacentral {
    border-radius: 2rem;
    border: 0.7px solid var(--color_borde_nav);
    background: var(--color_nav_center);
    box-shadow: var(--shadow_nav);
    color: var(--color_txt_nav);
}

.subcajaarriba {
    background: var(--color_nav_up);
    box-shadow: var(--shadow_nav);
    border-radius: var(--radius_radial);
    border: 0.7px solid var(--color_borde_nav);
    color: var(--color_txt_nav);
}

.subcajaizquierda {
    border: 0.7px solid var(--color_borde_nav);
    background: var(--color_nav_right);
    box-shadow: var(--shadow_nav);
    border-radius: var(--radius_radial);
    color: var(--color_txt_nav);
}

.subcajaderecha {
    border-radius: var(--radius_radial);
    background: var(--color_nav_left);
    box-shadow: var(--shadow_nav);
    border: 0.7px solid var(--color_borde_nav);
    color: var(--color_txt_nav);
}

.subcajaabajo {
    border-radius: var(--radius_radial);
    background: var(--color_nav_down);
    box-shadow: var(--shadow_nav);
    border: 0.7px solid var(--color_borde_nav);
    color: var(--color_txt_nav);
}
/*--------------------------------------------------------------------MAIN------------------------------------------------*/

.txt_presentacion{
    border-radius: var(--radius_txt_presentacion);
    background: var(--color_fondo_txt_presentacion);
    box-shadow: var(--shadow_txt_presentacion);
    border: 0.7px solid var(--color_borde_txt_presentacion);
    color: var(--color_letra_presentacion);
}

.cont_divs_form{
   
}
.div_form{
     border-radius: var(--radius_div_form);
    background: var(--fondo_div_form);
    box-shadow: var(--shadow_div_form);
    border: 0.7px solid var(--borde_div_form);
    color: var(--col_letra_div_form);
}
.tit_form{
    border-radius: var(--radius_div_form);
    background: var(--fondo_div_form);
    box-shadow: var(--shadow_div_form);
    border: 0.7px solid var(--borde_div_form);
    color: var(--col_letra_div_form);
}
