/*-----------------------------------------------------------------GENERALES---------------------------------------------*/


    /*Colores sugeridos por adobe
    --col_adobe: #53585C;
    --col_adobe: #A8A897;
    --col_adobe: #545454;
    --col_adobe: #F5F5F5;
    --col_adobe: #97A8A6;
    --col_adobe: #A3A8A0;*/




/*-------------------------------------------------------------------HEADER-----------------------------------------------*/
.img_header {

    border-radius:50%;

}


body {
    min-height: 900px;
    /*background-image: radial-gradient(#a7e3e6, #06c8d0, black);*/
    background-color: black;

}
.div_estilo{
    background-color:#197373;
    border: 1px solid gray;
    
}
/*----------------RADIAL-----------*/
.txt_radial_bis,
.txt_radial {
    background-color:whitesmoke ;
    color: black;
    box-shadow: 0.3vh 0.3vh 0.3vh #ffa500;
    border-radius: 5px;
    padding: 1%;
}

.cajacentral{
    border-radius:4rem 0.4rem 4rem;
  
    background: black;
    background: linear-gradient(black, black) padding-box,
                    linear-gradient(to right, #ffa500,#06c8d0 , #ffa500,#06c8d0 , #ffa500,#06c8d0 , #ffa500) border-box;

    border: 1px solid transparent;
    
    color: #06c8d0;
}

.subcajaarriba,
.subcajaizquierda,
.subcajaderecha,
.subcajaabajo {
    border-radius:6rem 0.4rem 6rem;
    border: 0.7px solid #06c8d0;
    background: #197373;
    box-shadow:  0.2vh 0.2vh 0.2vh #06c8d0;
   
}
.subcajaarriba a,
.subcajaizquierda a,
.subcajaderecha a,
.subcajaabajo a{
    color:black;
}
/*------------------------------------------------------------------------------------------------------RADIAL CON TEXTO---------------------*/
.tit_exp{
text-shadow: 0 0 3px #ffa500;
color: #06c8d0;
font-size: x-large;
}
.cajacentral_bis{
    background:black;
  border-radius:5rem 0.4rem 5rem;
     /* border: 0.7px solid  white;*/
    
     background: black;
     background: linear-gradient(black, black) padding-box,
                     linear-gradient(to right, #ffa500,#06c8d0 , #ffa500,#06c8d0 , #ffa500,#06c8d0 , #ffa500) border-box;
 
     border: 1px solid transparent;
     
     color: #06c8d0;
    padding: var(--separacion_dentro_caja);
}
.subcajaarriba_bis,
.subcajaizquierda_bis,
.subcajaderecha_bis,
.subcajaabajo_bis{
    border-radius:6rem 0.4rem 6rem;
 /*   border: 0.7px solid  white;*/
 background: #197373;
 box-shadow:  0.2vh 0.2vh 0.2vh #06c8d0;
    font-size: small;
    padding: var(--separacion_dentro_caja);
}
.subcajaarriba_bis a,
.subcajaizquierda_bis a,
.subcajaderecha_bis a,
.subcajaabajo_bis a{
    color:black
}
/*--------------------------------------------------------------------MAIN------------------------------------------------*/
/*---------------PRESENTACION--------------*/
.txt_presentacion {
    border-radius:10px;
    background: #197373;
    box-shadow:0.2vh 0.2vh 0.2vh #ffa500;
    border: 0.7px solid  #ffa500;
    color: whitesmoke;
}

/*----------------FORMACION----------------*/
.div_form {
    border-radius:4rem 0.4rem 4rem;
    background: #197373;
    /*box-shadow: var(--shadow_div_form);*/
    border: none;
  
}


.div_form_peq {
    border-radius:4rem 0.4rem 4rem;
    background:#197373;
    /*box-shadow: var(--shadow_div_form_peq);*/
    border:none;
    color:black;
}

.tit_form
{
    border-radius: 15px;
    /* background: var(--fondo_tit_form);*/
  /* box-shadow: var(--shadow_tit_form);*/
    text-shadow:0 0 3px #ffa500;
    /* border: 0.7px solid var(--borde_tit_form);*/
    color: #06c8d0;
    font-size: x-large;
}
.div_subrayado_tit,
.div_subrayado_tit_peq,
.div_subdoble_tit_peq{
    border-radius: 4rem 0.4rem 4rem;
    background: #ffa500;
  /* box-shadow: var(--shadow_tit_form);*/
    text-shadow: 0 0 2px #ffa500;
    
}

.tit_mini_form {
    border-radius: 15px;
    /*background-color: var(--fondo_tit_miniform);
    box-shadow: var(--shadow_tit_miniform);*/
   /*border: 0.7px solid var(--borde_div_form); no queda bien*/
    color:#06c8d0;
    font-size: x-large;
   text-shadow: 0 0 2px #ffa500;

}
.txt_div_form {
    background-color:#06c8d0;
    border-radius: 5rem 0.4rem 5rem;
}
.txt_div_form  a{
    color: black;
}
/*----------------APTITUDES----------------*/
.tit_apt  {
    border-radius:15px;
    /*background: var(--fondo_tit_apt);
    box-shadow: var(--shadow_tit_apt);*/
    border: none;
    color:#06c8d0;
    font-size:x-large; 
    text-shadow: 0 0 2px #ffa500;
}

.txt_apt {
    border-radius:15px;
    background: #06c8d0;
    text-shadow: 0 0 2px #F5F5F5;
    color:black;
    font-size:medium;
}
/*-------------------------PUBLICACION--------------------*/
.tit_pub {
    border-radius: 15px;
    /* background: var(--fondo_tit_form);*/
  /* box-shadow: var(--shadow_tit_form);*/
    text-shadow:0 0 3px #ffa500;
    /* border: 0.7px solid var(--borde_tit_form);*/
    color: #06c8d0;
    font-size: x-large;
}
.tit_port,
.tit_loc{
    border-radius: 15px;
    /*background-color: var(--fondo_tit_miniform);
    box-shadow: var(--shadow_tit_miniform);*/
   /*border: 0.7px solid var(--borde_div_form); no queda bien*/
    color:#06c8d0;
    font-size: large;
   text-shadow: 0 0 2px #ffa500;
}
.div_subdoble_tit_pract{
    border-radius: 4rem 0.4rem 4rem;
    background: #ffa500;
  /* box-shadow: var(--shadow_tit_form);*/
    text-shadow: 0 0 2px #ffa500;
    /* border: 0.7px solid var(--borde_tit_form);*/
}
.boton_ejmpl_prct{
    background-color:#06c8d0 ;
    border-radius: 50%;
}
.boton_ejmpl_prct a{
    background-color: #06c8d0;
    color: black;
}
/*--------------------------------------------------------------------------FOOTER---------------------------------------------------------------------------*/
.tit_contct {
    border-radius: 5px;
    background:black;
    box-shadow: #ffa500;
    color:#06c8d0;
    text-shadow:0 0 2px  #ffa500;
    font-size: x-large;
    background: linear-gradient(black, black) padding-box,
                    linear-gradient(to right, #ffa500,#06c8d0 , #ffa500,#06c8d0 , #ffa500,#06c8d0 , #ffa500) border-box;

    border: 1px solid transparent;

}

.cuerpo_contct {
    border-radius:5px;
    background: #F5F5F5;
    box-shadow: #F5F5F5;
    color: black;
    font-size:medium;
}

.correo_elec{
    border-radius: 5px;
    background:#A3A8A0;
    box-shadow:0.5vh 0.5vh 0.5vh #F5F5F5;
    color: black;
    font-size: medium;
}
.btn_vlv{
    border-radius: 5px;
    background:black;
    background: linear-gradient(black, black) padding-box,
    linear-gradient(to right, #ffa500,#06c8d0 , #ffa500,#06c8d0 , #ffa500,#06c8d0 , #ffa500) border-box;

border: 1px solid transparent;
    text-shadow:0 0 2px  #ffa500;
    font-size: x-large;
}
.btn_vlv a{
    color:#06c8d0;
}