/*-----------------------------------------------------------------GENERALES---------------------------------------------*/
* {
    margin: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: auto;
}

h2 {
    font-size: medium;
}

:root {

    --separacion_estructura_general: 4%;
    --separacion_estructura_tab_exp: 3%;
    --separacion_sub_estruct: 2.5%;
    --padding_txt_presentacion: 3%;
    --separacion_dentro_caja: 0.5%;
    --padding_tit_mini: 1%;
    --padding_tit: 1.5%;
    --padding_txt_apt: 2.5%;
    --padding_txt_ficha: 1.5%;
    --margen_tit_bajo: 1%
}

/*-------------------------------------------------------------------HEADER-----------------------------------------------*/
.cont_header {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    padding: var(--separacion_dentro_caja);
    margin-bottom: var(--separacion_estructura_general);
}

.barra_nav {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.div_foto_header {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_header {
    width: 250px;
    height: 250px;

}

/*------------------------------------------------------------------BARRA NAV---------------------------------------------*/
/*----------------RADIAL-----------*/
.main_cur_web {
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

.cont_cajaprincipal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.8%;

}

.cajaprincipal {
    width: 25.25rem;
    /* 810px*/
    /*46% para responsive*/
    height: 8.65rem;
    /*276px*/
    position: relative;
    /* border: 1px solid black;
    background-color: gray;*/
}

.subcajaarriba {
    width: 6.95rem;
    /*220px*/
    /*sta cifra es para dejar un hueco en medio de cada una del mismo tamaño.*/
    height: 1.95rem;
    /*57px*/
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.unionarriba {
    position: absolute;
    width: 6.95rem;
    /*222px*/
    height: 5.2rem;
    /*165px*/
    left: 36%;
}

.subcajaizquierda {
    width: 6.95rem;
    /*220px*/
    height: 1.95rem;
    /*57px*/
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.unionizquierda {
    position: absolute;
    width: 16rem;
    /*518px*/
    height: 1.95rem;
    /*60px*/
    top: 36%;
}

.subcajaderecha {
    width: 6.95rem;
    /*220px*/
    height: 1.95rem;
    /*57px*/
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    right: 0%;
}

.unionderecha {
    width: 16rem;
    /*518px*/
    height: 1.95rem;
    /*60px*/
    position: absolute;
    top: 38%;
    right: 0%;
}

.subcajaabajo {
    width: 6.95rem;
    /*220px*/
    height: 1.95rem;
    /*57px*/
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: 0vw;
}

.unionabajo {
    width: 6.95rem;
    /*222px*/
    height: 5.25rem;
    /*173px */
    position: absolute;
    bottom: 0vw;
    left: 36%;
}

.cajacentral {
    width: 6.95rem
        /*220px*/
    ;
    /*25.4% para hecerlo en responsive*/
    height: 1.95rem
        /*57px*/
    ;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    left: 36%;
    top: 38%;
    z-index: 2;
    /*ñeñeñeñeñeñeñeñeñeñeñeñe.......que se queda onclick bajo y no se puede volver a dar*/
}

.desplegable {
    display: none;
    z-index: 1;
}

.mostrar {
    display: flex;
}

.esconder {
    display: none;
    visibility: hidden;
}

/*OOOOOJJJOOOOOO para no perder el hover por el camino hasta el elemento deseado hay que encapsularlo dentro de otro div para poder hacer que se
toquen por tamaño pero que solo se muestre el contenido centrado dentro del div----lo normal seria no hacer tanta caja pero para uno radial hay
que gacer que no 
/*--------------------------------------------------------------------MAIN------------------------------------------------*/
.main_CV {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*----------------------------PRESENTACION-------------------*/
.cont_txt_presentacion {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--separacion_estructura_general);
}

.txt_presentacion {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: justify;
    padding: var(--padding_txt_presentacion);

}

/*----------------------------FORMACION-------------------*/
.cont_form {
    position: relative;
    /* width: 100%; por si se va el desbordamiento*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    margin-bottom: var(--separacion_estructura_general);


}

.grupo_div_form {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.div_form {
    position: relative;
    width: 27.7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: var(--separacion_sub_estruct);
    padding: var(--padding_txt_ficha);

}

.div_form_peq {
    position: relative;
    width: 20.6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: var(--separacion_sub_estruct);
    padding: var(--padding_txt_ficha);
}

.tit_form {
    position: relative;
    width: 90%;
    height: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--margen_tit_bajo);
    padding: var(--padding_tit);
}

.cont_tit_mini_form {
    position: relative;
    width: 86%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;

}

.tit_mini_form {
    position: relative;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin: var(--separacion_dentro_caja);
    padding: var(--padding_tit_mini);

}

.bot_div_form {
    position: relative;
    width: 100%;
}

.txt_div_form {
    position: relative;
    width: 100%;
    text-align: justify;
    padding: var(--padding_txt_ficha);
}

/*----------------------------APTITUDES-------------------*/
.cont_divs_apt {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--separacion_estructura_general);
}

.tit_apt {
    position: relative;
    width: 33%;
    display: flex;
    height: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: var(--margen_tit_bajo);
    padding: var(--padding_tit);



}

.txt_apt {
    position: relative;
    width: 46%;
    display: block;
    text-align: justify;
    margin: var(--separacion_sub_estruct);
    padding: var(--padding_tit_mini);
}

/*----------------------------EXPERIENCIA-------------------*/
.cont_epx {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.cont_div_exp {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--separacion_estructura_general);
}

.cont_tit_exp {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tit_exp {

    position: relative;
    width: 90%;
    height: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--margen_tit_bajo);
    padding: var(--padding_tit);
}

.cont_div_exp {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

.div_exp {
    position: relative;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: var(--separacion_estructura_tab_exp);
    padding: var(--padding_txt_ficha);
}

.tit_trabj_exp {
    position: relative;
    width: 100%;
    display: inline;
    align-items: center;
    text-align: center;
    padding: var(--padding_tit_mini);
}

.seccion_div_exp {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: var(--separacion_sub_estruct);
}

.seccion_div_exp dl {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: large;
    padding: var(--padding_tit_mini);
}

.seccion_div_exp dd {
    position: relative;
    width: 85%;
    text-align: justify;
    padding: var(--padding_txt_ficha);
}

/*----------------------------FIXED-------------------*/
.cont_btn {
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    right: 0%;
    bottom: 0%;
}

.cont_btn_cntct {
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    left: 0%;
    bottom: 0%;
}

.fixed_cntct {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    text-align: center;
    align-content: center;
    font-size: xx-small;
    width: 80px;
    height: 25px;
    left: 0%;
    bottom: 0%;
}

.boton_fixed {
    position: fixed;
    float: right;
    text-align: center;
    align-content: center;
    font-size: xx-small;
    width: 50px;
    height: 50px;
    right: 0%;
    bottom: 0%;

}

/*----------------------------EXPERIENCIA-------------------*/
.Cont_contacto {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}
.div_contacto{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}
.tit_contct {
    position: relative;
    width: 90%;
    height: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: var(--margen_tit_bajo);
}
.cuerpo_contct{
    position: relative;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: var(--separacion_sub_estruct);
    padding: var(--separacion_dentro_caja);

}
.correo_elec{
    position: relative;
    width: 25%;
    font-size: larger;
    margin: var(--separacion_dentro_caja);
    padding: var(--separacion_sub_estruct);
}
.div_telefono{
    position: relative;
    width: 25%;
    font-size: larger;
    margin: var(--separacion_dentro_caja);
    padding: var(--separacion_sub_estruct);
}
/*-------------------------------------------------------------------FOOTER----------------------------------------------*/