/*-----------------------------------------------------------------GENERALES---------------------------------------------*/
* {
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    
}

h2 {
    font-size: medium;
}

:root {
    --separacion_estructura_general: 4%;
    --separacion_estructura_tab_exp: 1%;
    --separacion_sub_estruct: 1.5%;
    --padding_txt_presentacion: 3%;
    --separacion_dentro_caja: 0.5%;
    --padding_tit_mini: 1%;
    --padding_tit: 1.5%;
    --padding_txt_apt: 2.5%;
    --padding_txt_ficha: 0.5%;
    --margen_tit_bajo: 1%
}



/*-------------------------------------------------------------------HEADER-----------------------------------------------*/
.cont_header {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
    padding: var(--separacion_dentro_caja);
    margin-bottom: var(--separacion_estructura_general);
}

.barra_nav {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cont_estilos{
    position: relative;
    width: 100%;
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.div_estilo{
    position: relative;
    display: block;
    text-align: center;

}
.div_foto_header {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_header {
    width: 250px;
    height: 250px;
}

/*------------------------------------------------------------------BARRA NAV---------------------------------------------*/
/*----------------RADIAL-----------*/
.cont_cajaprincipal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 6%;

}

/*--------------RADIAL CON TEXTO---------------------*/
.cont_cajaprincipal_bis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.txt_radial {
    position: relative;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
    top: 42px;
    float: left;
    font-size: small;

}

.txt_radial_bis {
    position: relative;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
    top: 42px;
    float: right;
    font-size: small;

}

.cajaprincipal_bis {
    width: 35.4rem;
    /* 810px*/
    /*46% para responsive*/
    height: 17.98rem;
    /*276px/8.65 para menu, pero c.v necesito este tamaño, ojo que el hover ya no vale*/
    position: relative;
    /* border: 1px solid black;
    background-color: gray;*/


}

.cajacentral_bis {
    width: 8.34rem
        /*220px*/
    ;
    /*25.4% para hecerlo en responsive*/
    height: 2.76rem
        /*57px ---- para que sirva el hover con el nuevo tamaño*/
    ;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 37.5%;
    top: 42.2%;
    z-index: 2;
    /*ñeñeñeñeñeñeñeñeñeñeñeñe.......que se queda onclick bajo y no se puede volver a dar*/
}

.desplegable_bis {
    display: block;
    z-index: 1;
    height: 21.98rem;
    /*mismo tamño que la caja central*/
}

.unionabajo_bis {
    width: 8.34rem;
    /*222px*/
    height: 10.3rem;
    /*173px */
    position: absolute;
    bottom: 0px;
    left: 38.1%;
}



.subcajaarriba_bis {
    width: 8.4rem;
    /*220px*/
    /*sta cifra es para dejar un hueco en medio de cada una del mismo tamaño.*/
    height: 2.4rem;
    /*57px*/
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
   

}

.unionarriba_bis {
    position: absolute;
    width: 8.34rem;
    /*222px*/
    height: 10.3rem;
    /*165px*/
    left: 38.2%;
}

.subcajaizquierda_bis {
    width: 8.4rem;
    /*220px*/
    height: 2.4rem;
    /*57px*/
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.unionizquierda_bis {
    position: absolute;
    width: 22.2rem;
    /*518px*/
    height: 2.55rem;
    /*60px*/
    top: 42.2%;
}

.subcajaderecha_bis {
    width: 8.4rem;
    /*220px*/
    height: 2.4rem;
    /*57px*/
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    right: 0%;
    text-align: center;
    
}

.unionderecha_bis {
    width: 22.2rem;
    /*518px*/
    height: 2.55rem;
    /*60px*/
    position: absolute;
    top: 42.2%;
    right: 0%;
}

.subcajaabajo_bis {
    width: 8.4rem;
    /*220px*/
    height: 2.4rem;
    /*57px*/
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: 0vw;
    text-align: center;

    
}
.disparador_bis{
    position: relative;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    width: 35.4rem;
    height: 17.98rem;
   
}


.desplegable_bis {
    display: block;
    height: 10.38rem;
    /*mismo tamño que la caja central*/
}

/*------------------------------------RADIAL SIN TEXTO----------*/
.desplegable {
    display: block;

    height: 17.65rem;
    /*mismo tamño que la caja central*/
}

.unionabajo {
    width: 6.95rem;
    /*222px*/
    height: 8.6rem;
    /*173px */
    position: absolute;
    bottom: 27px;
    left: 36%;
}

.unionarriba {
    position: absolute;
    width: 6.95rem;
    /*222px*/
    height: 8.6rem;
    /*165px*/
    left: 36%;
}

.cajaprincipal {
    width: 25.25rem;
    /* 810px*/
    /*46% para responsive*/
    height: 8.65rem;
    /*276px/8.65 para menu, pero c.v necesito este tamaño, ojo que el hover ya no vale*/
    position: relative;
    /* border: 1px solid black;
    background-color: gray;*/
    font-size: medium;
    margin: 0.5%;

}

.subcajaarriba {
    width: 7.3rem;
    /*220px*/
    /*sta cifra es para dejar un hueco en medio de cada una del mismo tamaño.*/
    height: 1.95rem;
    /*57px*/
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: medium;

}

.unionarriba {
    position: absolute;
    width: 6.95rem;
    /*222px*/
    height: 5.2rem;
    /*165px*/
    left: 36%;
}

.subcajaizquierda {
    width: 7.3rem;
    /*220px*/
    height: 1.95rem;
    /*57px*/
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.unionizquierda {
    position: absolute;
    width: 16rem;
    /*518px*/
    height: 1.95rem;
    /*60px*/
    top: 38%;
}

.subcajaderecha {
    width: 7.3rem;
    /*220px*/
    height: 1.95rem;
    /*57px*/
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    right: 0%;
    font-size: medium;
}

.unionderecha {
    width: 16rem;
    /*518px*/
    height: 1.95rem;
    /*60px*/
    position: absolute;
    top: 38%;
    right: 0%;
}

.subcajaabajo {
    width: 7.3rem;
    /*220px*/
    height: 1.95rem;
    /*57px*/
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: 0vw;
    font-size: medium;
}

.unionabajo {
    width: 6.95rem;
    /*222px*/
    height: 5.25rem;
    /*173px */
    position: absolute;
    bottom: 0px;
    left: 36%;
}

.cajacentral {
    width:7.3rem
        /*220px*/
    ;
    /*25.4% para hecerlo en responsive*/
    height: 2rem
        /*57px*/
    ;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: medium;
    text-align: center;
    left: 36%;
    top: 38%;
    z-index: 2;
    /*ñeñeñeñeñeñeñeñeñeñeñeñe.......que se queda onclick bajo y no se puede volver a dar*/
}

.desplegable {
    display: block;
    height: 8.65rem;
    /*mismo tamño que la caja central*/
}



/*OOOOOJJJOOOOOO para no perder el hover por el camino hasta el elemento deseado hay que encapsularlo dentro de otro div para poder hacer que se
toquen por tamaño pero que solo se muestre el contenido centrado dentro del div----lo normal seria no hacer tanta caja pero para uno radial hay
que gacer que no 
/*--------------------------------------------------------------------MAIN------------------------------------------------*/
.main_CV {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

/*----------------------------PRESENTACION-------------------*/
.cont_txt_presentacion {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--separacion_estructura_general);
}

.txt_presentacion {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: justify;
    padding: var(--padding_txt_presentacion);

}

/*----------------------------FORMACION-------------------*/
.cont_form {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    margin-bottom: var(--separacion_estructura_general);


}

.grupo_div_form {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.div_form {
    position: relative;
    width: 14%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: var(--separacion_sub_estruct);
    padding: var(--padding_txt_ficha);

}
.bot_div_form {
  
    width: 100%;   
}
.flecha_div_form {
    width: 20px;
  position: relative;  
  margin: 0.5%;
}

.div_form_peq {
    position: relative;
    width: 15.6%;
    display: flex;
    min-height: 4.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: var(--separacion_sub_estruct);
    padding: var(--padding_txt_ficha);
}

.div_form_peq h5,
.div_form h5 {
    font-size: large;
    width: 100%;
}

.tit_form {
    position: relative;
    width: 75%;
    min-width: 75%;
    height: 5rem;
    min-height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--margen_tit_bajo);
    margin-top: var(--separacion_estructura_general);

}

.div_subrayado_tit {
    position: relative;
    width: 100%;
    min-width: 100%;
    height: 5px;
    max-width: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

}

.div_subdoble_tit_peq {
    position: relative;
    width: 34%;
    min-width: 34%;
    height: 5px;
    max-width: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
}

.cont_subr_peq {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.div_subrayado_tit_peq {
    position: relative;
    width: 17%;
    min-width: 17%;
    height: 5px;
    max-width: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

.cont_tit_mini_form {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: var( --separacion_estructura_general);

}

.tit_mini_form {
    position: relative;
    width: 100%;
    min-width: 100%;
    height: 2rem;
    min-height: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.txt_div_form {
    position: relative;
    width: 100%;
    justify-content: center;
    padding: var(--padding_txt_ficha);
    font-size: revert;

}


/*----------------------------APTITUDES-------------------*/
.cont_divs_apt {
 
    display: flex;
 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--separacion_estructura_general);
}

.tit_apt {
    position: relative;
    width: 75%;
    display: flex;
    height: 5rem;
    min-height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: var(--margen_tit_bajo);
}

.txt_apt {
    position: relative;
    width: 46%;
    display: block;
    text-align: justify;
    margin: var(--separacion_sub_estruct);
    padding: var(--padding_tit_mini);
}

/*----------------------------EXPERIENCIA-------------------*/
.cont_epx {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.cont_div_exp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--separacion_estructura_general);
}

.cont_tit_exp {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tit_exp {

    position: relative;
    width: 75%;
    min-width: 75%;
    height: 5rem;
    min-height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: var(--margen_tit_bajo);

}

.div_exp {
    position: relative;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: var(--separacion_estructura_tab_exp);
    padding: var(--padding_txt_ficha);
}

.tit_trabj_exp {
    position: relative;
    width: 100%;
    display: inline;
    align-items: center;
    text-align: center;
    padding: var(--padding_tit_mini);
}

.seccion_div_exp {
    position: relative;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: var(--separacion_sub_estruct);
}

.seccion_div_exp dl {
    position: relative;
    width: 70%;
    text-align: center;
    font-size: large;
    padding: var(--padding_tit_mini);
}

.seccion_div_exp dd {
    position: relative;
    width: 85%;
    text-align: justify;
    padding: var(--padding_txt_ficha);
}

/*-------------------------------------------------------------------FOOTER----------------------------------------------*/
.cont_footer {
    position: fixed;
    width: 100%;
    float: left;
    bottom: 0%;
    left: 0%;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 
}

.Cont_contacto {
    position: relative;
    width: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    z-index: 9;
}

.tit_contct {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9;
}

.cuerpo_contct {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9;
}

.correo_elec {
    position: relative;
    width: 240px;
    height: 42px;
    display: block;
    text-align: center;
    margin: var(--separacion_dentro_caja);
    padding: var(--separacion_dentro_caja);


}

.div_telefono {
    position: relative;
    width: 240px;
    height: 42px;
    display: block;
    text-align: center;
    margin: var(--separacion_dentro_caja);
    padding: var(--separacion_dentro_caja);

}

.cont_vuelve {
    position: relative;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-end;
    text-align: center;
    z-index: 9;
  

    
}
.btn_vlv{
    width: 100%;
  color: white;
}
.mostrar {
    display: flex;
}

.mostrar_cntct {
    display: flex;
    min-width: 450px;
}

.esconder {
    display: none;
    width: 0px;

}

.esconder_cntct {
    display: none;
    visibility: hidden;
    width: 25%;
}