/*-----------------------------------------------------------------GENERALES---------------------------------------------*/
:root {

    /*Colores sugeridos por adobe
    --col_adobe: #53585C;
    --col_adobe: #A8A897;
    --col_adobe: #545454;
    --col_adobe: #F5F5F5;
    --col_adobe: #97A8A6;
    --col_adobe: #A3A8A0;*/


}

/*-------------------------------------------------------------------HEADER-----------------------------------------------*/
.img_header {

    border-radius:50%;

}


body {
    background-color:#ffae00;

}

/*----------------RADIAL-----------*/
.txt_radial_bis,
.txt_radial {
    background-color:rgb(243, 226, 194) ;
    color: black;
    box-shadow: 0.5px 0.5px 0.5px white;
    border-radius: 5px;
    padding: 1%;
}

.cajacentral{
    border-radius:4rem 0.4rem 4rem;
    border: 0.7px solid yellow;
    background: #191BFF;
    box-shadow:  0.2vh 0.2vh 0.2vh rgb(231, 196, 131);
    color: white;
}

.subcajaarriba,
.subcajaizquierda,
.subcajaderecha,
.subcajaabajo {
    border-radius:4rem 0.4rem 4rem;
    border: 0.7px solid yellow;
    background: green;
    box-shadow:  0.2vh 0.2vh 0.2vh lightblue;
    color:white;
   
}
.subcajaarriba a,
.subcajaizquierda a,
.subcajaderecha a,
.subcajaabajo a{
    color:white;
}
/*------------------------------------------------------------------------------------------------------RADIAL CON TEXTO---------------------*/
.tit_exp{
text-shadow: 0 0 3px red;
color: white;
font-size: x-large;
}
.cajacentral_bis{
    background:#191BFF;
  border-radius:5rem 0.4rem 5rem;
     /* border: 0.7px solid  white;*/
    
    box-shadow: 0.2vh 0.2vh 0.2vh/* #F5F5F5*/white;
    color: white;
    padding: var(--separacion_dentro_caja);
}
.subcajaarriba_bis,
.subcajaizquierda_bis,
.subcajaderecha_bis,
.subcajaabajo_bis{
    border-radius:6rem 0.4rem 6rem;
 /*   border: 0.7px solid  white;*/
    background: green;
    box-shadow: 0.2vh 0.2vh 0.2vh/* #F5F5F5*/black;
    font-size: small;
    padding: var(--separacion_dentro_caja);
    color:white;
}
.subcajaarriba_bis a,
.subcajaizquierda_bis a,
.subcajaderecha_bis a,
.subcajaabajo_bis a{
    color:white;
}
/*--------------------------------------------------------------------MAIN------------------------------------------------*/
/*---------------PRESENTACION--------------*/
.txt_presentacion {
    border-radius:10px;
    background: #F5F5F5;
    box-shadow:0.2vh 0.2vh 0.2vh #F5F5F5;
    border: 0.7px solid  #F5F5F5;
    color: black;
}

/*----------------FORMACION----------------*/
.div_form {
    border-radius:4rem 0.4rem 4rem;
    background: #191BFF;
    /*box-shadow: var(--shadow_div_form);*/
    border: none;
 color: white;
}


.div_form_peq {
    border-radius:4rem 0.4rem 4rem;
    background:#191BFF;
    /*box-shadow: var(--shadow_div_form_peq);*/
    border:none;
 color: white;
}

.tit_form,
.tit_pub {
    border-radius: 15px;
    /* background: var(--fondo_tit_form);*/
  /* box-shadow: var(--shadow_tit_form);*/
    text-shadow:0 0 3px red;
    /* border: 0.7px solid var(--borde_tit_form);*/
    color: white;
    font-size: x-large;
}
.div_subrayado_tit,
.div_subrayado_tit_peq,
.div_subdoble_tit_peq{
    border-radius: 4rem 0.4rem 4rem;
    background: red;
  /* box-shadow: var(--shadow_tit_form);*/
    text-shadow: 0 0 3px #F5F5F5;
    /* border: 0.7px solid var(--borde_tit_form);*/
}

.tit_mini_form {
    border-radius: 15px;
    /*background-color: var(--fondo_tit_miniform);
    box-shadow: var(--shadow_tit_miniform);*/
   /*border: 0.7px solid var(--borde_div_form); no queda bien*/
    color:white;
    font-size: x-large;
   text-shadow: 0 0 3px red;

}
.txt_div_form {
    background-color:#F5F5F5;
    border-radius: 5rem 0.4rem 5rem;
    color: black;
}
.txt_div_form  a{
    color: black;
}
/*----------------APTITUDES----------------*/
.tit_apt  {
    border-radius:15px;
    /*background: var(--fondo_tit_apt);
    box-shadow: var(--shadow_tit_apt);*/
    border: none;
    color:white;
    font-size:x-large; 
    text-shadow: 0 0 3px red;
}

.txt_apt {
    border-radius:15px;
    background: #F5F5F5;
    text-shadow: 0 0 3px #F5F5F5;
    color:black;
    font-size:medium;
}
/*--------------------------------------------------------------------------FOOTER---------------------------------------------------------------------------*/
.tit_contct {
    border-radius: 5px;
    background:#545454;
    box-shadow: #F5F5F5;
    color: white;
    text-shadow:0 0 3px  #F5F5F5;
    font-size: x-large;
}

.cuerpo_contct {
    border-radius:5px;
    background: #F5F5F5;
    box-shadow: #F5F5F5;
    color: black;
    font-size:medium;
}

.correo_elec,
.div_telefono {
    border-radius: 5px;
    background:#A3A8A0;
    box-shadow:0.5vh 0.5vh 0.5vh #F5F5F5;
    color: black;
    font-size: medium;
}
.btn_vlv{
    border-radius: 5px;
    background:#545454;
    box-shadow: #F5F5F5;
    text-shadow:0 0 3px  #F5F5F5;
    font-size: x-large;
}
.btn_vlv a{
    color:white;
}