@media screen and (max-width: 780px) {
    .main_general_carta2 {
        width: 100%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        /* background-color: rgb(4, 4, 75);*/
        background-image: url('./multimedia_carta2/fondo_carta2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Architects Daughter'
      }
      
      /*----------------------HEADER-------------------------------------*/
      .header_carta2 {
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 5%;
      }
      
      .tit_header {
        width: 100%;
      }
      
      .h1_header_carta2 {
        position: relative;
        width: 100%;
        color: rgb(6, 6, 184);
        font-size: 4pc;
      }
      
      .h2_header_carta2 {
        position: relative;
        width: 100%;
        color: rgb(6, 6, 184);
        font-size: 1pc;
      }
      
      .btn_desp_sticky_carta2 {
        position: relative;
        width: 30px;
        height: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: white;
        border-radius: 50%;
      }
      
      .ralla_btnmenu_carta2 {
        position: relative;
        width: 60%;
        height: 3.5px;
        background-color: rgb(6, 6, 184);
        border-radius: 50%;
        margin: 2.5px;
      }
      
      .cont_sticky_carta2 {
        position: sticky;
        top: 0%;
        width: 99%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        z-index: 9;
        background-color: rgba(255, 255, 255, 0.726);
        padding-bottom: 9px;
      
      }
      
      .cont_botn_sticky {
        position: sticky;
        top: 0%;
        width: 99%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        z-index: 9;
      }
      
      .cont_ancla_sticky {
        position: relative;
        width: 85px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        font-size: large;
        color: rgb(6, 6, 184);
        font-weight: bold;
        border-radius: 50%;
        margin-top: 1%;
      
      }
      
      .cont_ancla_sticky a {
        color: rgb(6, 6, 184);
      }
      
      .linea_ancla_sticky {
        width: 30px;
        background-color: rgb(6, 6, 184)
          /*white*/
        ;
        border: 0.5px solid rgb(6, 6, 184)
          /*white*/
        ;
        border-radius: 50%;
        margin-inline: 4px;
      }
      
      .punto_ancla_sticky {
        width: 5px;
        height: 5px;
        border: 1px solid rgb(6, 6, 184)
          /*white*/
        ;
        background-color: rgb(6, 6, 184)
          /*white*/
        ;
        border-radius: 50%;
      }
      
      .div_blnc_sticky {
        width: 32px;
      
      }
      
      .div_blnc_sticky2 {
        width: 10px;
      }
      
      /*--------------------------------MAIN------------------------------------------------*/
      .main_cartadigital2 {
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }
      
      .cont_reciones_carta2 {
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: space-around;
        margin-top: 30%;
        margin-bottom: 20%;
      }
      
      .tit_vertical_carta2 {
        width: 7%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        color: rgb(6, 6, 184);
        text-align: center;
        font-size: xx-large;
        font-weight: bold;
        writing-mode: vertical-lr;
        text-orientation: upright;
        /* background-color: rgb(38, 38, 189);*/
        border-radius: 30%;
      }
      
      .contgeneral_platosmenu_carta2 {
        width: 83%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: space-around
      }
      
      .cont_platomenu_carta2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
      
      }
      
      .cont_txt_pltmenu_carta2 {
        position: relative;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
      
      }
      
      .txt_platomenu_carta2,
      .cont_alergcarta2 {
        width: 80%;
        color: rgb(6, 6, 184);
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
      }
      
      .alerg_cara2 {
        width: 20px;
        border-radius: 50%;
        margin-inline: 5px;
      }
      
      .cont_imgmenu_carta2 {
        width: 70px;
      }
      
      .imgmenu_carta2 {
        width: 100%;
        border-radius: 50%;
      }
      
      .linea_menu_carta2 {
        width: 150px;
        border-radius: 50%;
        border-bottom: 2px solid rgb(6, 6, 184);
      }
      
      .precio_menu_carta {
        color: rgb(6, 6, 184);
      }
      
      /*-----------SEPARADOR---------------*/
      .cont_separador {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
      
      }
      
      .linea_sep_carta2 {
        position: relative;
        width: 75px;
        height: 2px;
        background-color: rgb(6, 6, 184);
        border-radius: 50%;
      
      }
      
      .punto_sep_carta2 {
        position: relative;
        width: 10px;
        height: 10px;
        background-color: rgb(6, 6, 184);
        border-radius: 50%;
        margin-left: 5px;
        margin-right: 5px;
      }
      
      .mostrar_rte {
        display: flex;
      }
      
      .esconder_rte {
        display: none;
      }
      
      #postres {
        margin-bottom: 20%;
      }
      
      /*------------------------------------------------------FOOTER-----------------------------------------*/
      .footer_carta2 {
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        align-content: center;
        text-align: center;
      
      }
      
      .cont_alerg_carta2 {
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
      
      }
      
      .tit_alerg_carta2 {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-bottom: 10px;
        color: rgb(6, 6, 184);
        font-size: x-large;
      }
      
      .alerg_carta2 {
        position: relative;
        width: 50px;
        display: block;
        margin-inline: 20px;
      }
      
      .img_alerg_carta2 {
        position: relative;
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
      
      .txt_alerg_carta2 {
        position: relative;
        font-size: x-small;
        color: rgb(6, 6, 184);
      }
}