/*---------------------------HEADER----------------------------------------*/
@media screen and (max-width: 780px) {
    .menuprincipal {
        position: sticky;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        z-index: 2;

        animation-name: animelogo;
        animation-duration: 1s;
        margin-bottom: 5px;
        /*background-color: var(--complementario);*/
        /* (min-width: 320px)*/
    }

    /*esto de para movil y oca es una prueba*/
    .div_logo_para_movil {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: white;
    }

    .logo {
        width: 90px;

        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        border-radius: var(--radius);
        background-color: white;
    }

    .imglogo {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 100%;
        border-radius: var(--radius);
        box-shadow: 1vh 1vh 1vh 1vh var(--sombra);
    }

    .barranav {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 0px;
        background-color: var(--primario);
        box-shadow: 0.5vh 0.5vh 0.5vh var(--sombra);
        padding: 0.5vh;
        border-radius: var(--radius);
    }

    .botonmenu {
        width: 30%;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: var(--borde);
        border-radius: var(--radius);
        background-color: var(--secundario);
        margin: 4px;
        padding: 4px;
        font-size: small;
    }

    .menustiky {
        width: 100%;
        display: flex;
        position: sticky;
        top: 2%;
        z-index: 2;
    }

}

/*--------------------FOOTER-----------------------------*/

@media screen and (max-width: 780px) {
    .contfooter {
        display: flex;
        flex-wrap: wrap;
        min-height: 7rem;
        justify-content: space-around;
        align-items: center;
        /* border:var(--borde);*/
        box-shadow: 1vh 1vh 1vh var(--sombra);
        background-color: var(--primario);
        margin-top: 20px;
        animation-name: animelogo;
        animation-duration: 1s;
    }

    .contactofooter {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: darkblue;
        border: var(--borde);

        border-radius: var(--radius);
        text-align: center;
        padding: 0.5rem;
        font-size: small;
        margin: 3px;
    }

    .menusociales {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 3px;
    }

    .menusociales a {
        width: 60px;
        display: flex;
        justify-content: center;
        margin: 1vh;
    }

    .iconsocial {
        width: 60px;
        height: 100%;
    }

    .condlegales {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: darkblue;
        margin-bottom: 5px;
        font-size: smaller;
    }

    .txtlegales {
        width: 36%;
        color: darkblue;
        border: var(--borde);
        background-color: var(--secundario);
        border-radius: var(--radius);
        padding: 1.5vh;
        margin: 3px;
    }

    .copyfooter {
        width: 50%;

    }
}

/*-------------------------MAIN INDEX-------------------------------------------*/
@media screen and (max-width: 780px) {
    .mainpresentacion {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        animation-name: animelogo;
        animation-duration: 1s;
    }

    .divpresentacion {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .contpresentacion {
        display: block;
        width: 100%;
        border: var(--borde);
        box-shadow: 1vh 1vh 1vh var(--sombra);
        border-radius: var(--radius);
        background-color: var(--complementario);
        margin: 0px;
        padding-bottom: 10%;
        padding: var(--padding_tit);
        line-height: 150%;
        margin-bottom: 1rem;
    }

    .contpresentacion ul,
    .contpresentacion p {
        padding: 5%;
    }

    .contindex {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .contindex figcaption {
        display: inline;
        flex-wrap: wrap;
        font-weight: bold;
        width: 9vw;
        text-align: center;
    }

    .contmiembros {
        display: block;
        width: 100%;
        align-items: center;
        text-align: center;
        border: var(--borde);
        border-radius: var(--radius);
        background-color: var(--complementario);
        box-shadow: 1vh 1vh 1vh var(--sombra);
        margin-bottom: 2vh;

    }

    .fichascontindex {
        width: 100%;
        display: block;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .divcolaboradores {
        width: 100%;
        /*aqui se puede poner */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        border: var(--borde);
        box-shadow: 1vh 1vh 1vh var(--sombra);
        border-radius: var(--radius);
        background-color: var(--complementario);
        margin: 0px;
        margin-bottom: var(--margen_entre_fichas);

    }

    .contmiembros img {
        margin: 0px 0px 5px;
    }

    .fichamiembro {
        width: 25%;
    }

    .divcolaboradores img {
        width: 85%;
    }

    .divcolaboradores figure {
        width: 50%;
        font-size: smaller;
        text-align: center;
        padding: 2%;
    }

    .calidadindex {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 1vh 1vh 1vh var(--sombra);
        border-radius: var(--radius);
        background-color: var(--complementario);
        margin: 0px;
        padding: var(--padding_tit);
        padding-bottom: 2vh;

    }

    .calidadindex p {
        padding: 4%;
    }

    .imgoca {
        width: 4rem;
        height: 4rem;
        margin-top: 30px;
        box-shadow: 1vh 1vh 1vh var(--sombra);
        background-color: var(--primario);
        border-radius: var(--radius);
    }

}

/*-----------------------------------------------------------------LEGALES-----------------------------------------------------------------------------*/
@media screen and (max-width: 780px) {
    .avisolegal {
        width: 100%;
        padding: 0.9rem;
        line-height: var(--interlineado);
        animation-name: animelogo;
        animation-duration: 1s;
    }

}

/*------------------------------------------------------------------COOKIES-----------------------------------------------------------*/
@media screen and (max-width: 780px) {
    .maincookies {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 0.9rem;
        line-height: var(--interlineado);
        animation-name: animelogo;
        animation-duration: 1s;
    }

    .cuerpo_txtcookies {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: justify;
        align-items: center;
        align-content: center;
        border: var(--borde);
        background: var(--complementario);
        margin: auto;
        border-radius: var(--radius);
        padding: 3vh;
        margin-bottom: 10px;
        line-height: var(--interlineado);
        animation-name: animelogo;
        animation-duration: 1s;
    }

    .cuerpo_txtcookies ul {
        padding: 0.9vh;

    }

    .tabla_cookies {
        width: 90%;
        font-size: xx-small;
    }

    .tabla_cookies_big {
        width: 90%;
        font-size: xx-small;
        text-align: center;
    }

    .tabla_cookies th {
        background-color: lightgrey;
        text-align: center;
    }

    #tablacookies_bis {
        text-align: center;
    }

}

/*-----------------------------------------------------------------PRIVACIDAD-----------------------------------------------------------*/
@media screen and (max-width: 780px) {
    .mainprivacidad {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        padding: 0.9rem;
        line-height: var(--interlineado);
        animation-name: animelogo;
        animation-duration: 1s;
    }

    .cuerpo_txtcalidad {
        width: 98%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: justify;
        align-content: center;
        border: var(--borde);
        background: var(--complementario);
        margin: auto;
        border-radius: var(--radius);
        padding: 2vh;
        margin-bottom: 10px;
        line-height: var(--interlineado);
        animation-name: animelogo;
        animation-duration: 1s;
    }

    .cuerpo_txtcalidad ol,
    .cuerpo_txtcalidad ul {
        padding: 0.9rem;
    }

}

/*--------------------------------POLITICA DE CALIDAD----------------------------------------------------------------*/
@media screen and (max-width: 780px) {
    .maincalidad {
        animation-name: animelogo;
        animation-duration: 1s;
    }

    .orgcalidad {
        display: block;
        width: auto;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 3vh;
        text-align: center;
    }

    .divorg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: 90px;
        border: 1px solid var(--terciario);
        text-align: center;
        border-radius: var(--radius);
        background-color: var(--color_animado);
    }

    .divflecha {
        width: 5px;
        height: 50px;
        border: var(--secundario);
        background-color: var(--secundario);
        margin-left: 12vw;
    }

    .divflechahor {
        width: 60px;
        height: 5px;
        border: var(--secundario);
        background-color: var(--secundario);
    }

    .botondescargacalidad {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 65px;
        height: 95px;
        font-size: smaller;
        border: var(--borde);
        background-color: var(--secundario);
        border-radius: var(--radius);
        margin: 1vh;
    }

    .botondescargacalidad img {
        width: 50px;
        margin-top: 8px;
        border-radius: var(--radius);
    }
}

/*------------------------PUBLICACIONES-------------------------------------*/
@media screen and (max-width: 780px) {

    .fichaenlaces {
        width: 35%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        border: var(--borde);
        box-shadow: 1vh 1vh 1vh var(--sombra);
        background-color: var(--complementario);
        border-radius: var(--radius);
        margin: 3px;
        padding: 1%;
        transition: width 1s;
        font-size: smaller;
    }

    .contrevista,
    .conteco,
    .contmemo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: var(--radius);
        background-color: var(--complementario);
        padding: var(--padding_tit);
        margin-bottom: var(--margen_entre_fichas);
    }

    figure img {
        width: 6rem;
    }

    .fichamemo {
        width: 25%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        border: var(--borde_oscuro);
        border-radius: var(--radius);
        box-shadow: 0.5vh 0.5vh 0.5vh var(--sombra);
        background-color: var(--complementario);
        margin: 5px;
        padding: var(--padding_txt);
    }

    .ficharevista,
    .fichaeco {
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        border: var(--borde_oscuro);
        border-radius: var(--radius);
        box-shadow: 0.5vh 0.5vh 0.5vh var(--sombra);
        background-color: var(--complementario);
        margin: 5px;
        padding: var(--padding_txt);
        font-size: small;
    }

    .imgrevista,
    .imgeco {
        width: 100%;
        min-width: 100%;
        border-radius: var(--radius);
        box-shadow: 0.5vh 0.5vh 0.5vh var(--sombra);
    }

    .imgmemo {
        width: 100%;
        border-radius: var(--radius);
        box-shadow: 0.5vh 0.5vh 0.5vh var(--sombra);
    }
}

/*--------------------CONOCENOS-----------------------------------------------------*/
@media screen and (max-width: 780px) {
    .titsociocolabora {
        width: 50%;
        height: 4rem;
        border-radius: var(--radius);
        background-color: var(--secundario);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        padding: var(--padding_txt);
    }

    .txtsociocolabora2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: var(--interlineado);
        margin: 0px;
        padding: var(--padding_txt);
    }

    .adecfichaconoce,
    .misionconoce,
    .objconoce,
    .fichasocio,
    .fichaloteria {
        width: 100%;
        border: var(--borde);
        border-radius: var(--radius);
        background-color: var(--complementario);
        box-shadow: 1vh 1vh 1vh var(--sombra);
        margin-bottom: var(--margen_entre_fichas);

    }

    .fichacolabora {
        width: 100%;
        border: var(--borde);
        border-radius: var(--radius);
        background-color: var(--complementario);
        box-shadow: 1vh 1vh 1vh var(--sombra);
        margin-bottom: 10px;
        padding: var(--padding_tit);
    }

    .botonsocio {
        width: 85px;
        min-height: 40px;
        border: var(--borde_oscuro);
        background-color: var(--secundario);
        border-radius: var(--radius);
        box-shadow: 0.5vh 0.5vh 0.5vh var(--sombra);
        text-align: center;
        font-size: small;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

/*--------------------------------------CONTACTO----------------------------------------------*/
@media screen and (max-width: 780px) {
    .maincontacto {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .divcontacto {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: var(--radius);
        background-color: var(--complementario);
        padding: var(--padding_tit);
        margin-bottom: var(--margen_entre_fichas);
    }

    .titcontacto {
        width: 100%;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: var(--radius);
        box-shadow: 0.05vh 0.5vh 0.5vh var(--sombra);
        background-color: var(--secundario);
        padding: var(--padding_tit);
    }

    .mapacontacto {
        width: 50%;
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 10px;
    }

    .direccontacto {
        width: 100%;
        border: var(--borde);
        border-radius: var(--radius);
        background-color: var(--complementario);
        box-shadow: 1vh 1vh 1vh var(--sombra);
        margin-bottom: 10px;
        padding: var(--padding_tit);
    }

    .fichascontacto {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .correscontacto,
    .telefcontacto {
        width: 65%;
        height: 19vh;
        border: var(--borde);
        border-radius: var(--radius);
        background-color: var(--complementario);
        box-shadow: 1vh 1vh 1vh var(--sombra);
        margin: 4px;
    }

    .tittelef,
    .titcorres {
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        font-size: medium;
        border-radius: var(--radius);
        background-color: var(--secundario);
        margin-bottom: 10px;
        padding: var(--padding_txt);
    }

    .conttelef,
    .txtdirec {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 5px;
    }
}

/*-----------------------------QUE ES LA ESCLERODERMIA---------------------------------------------------------------*/
@media screen and (max-width: 780px) {
    .mainesclero {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .mainesclerotipos {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .cuerpoesclero {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .contfichasesclero {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        animation-name: animeleft;
        animation-duration: 1s;
    }

    .fichaesclero {
        position: relative;
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
        margin-bottom: 2%;
        animation-name: animerigth;
        animation-duration: 1s;
    }

    .fichaesclerobis {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .fichaescleroestudios {
        position: relative;
        width: 98%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
        margin-bottom: 2%;
        animation-name: animerigth;
        animation-duration: 1s;
    }

    .tiposEsclerodermia {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        text-align: justify;
        border: var(--borde);
        background: var(--complementario);
        border-radius: var(--radius);
        margin-left: 0%;
        margin-bottom: 10px;
        line-height: var(--interlineado);
        animation-name: animeleft;
        animation-duration: 1s;
    }

    .tiposEsclerodermia_tipos {
        width: 98%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        text-align: justify;
        border: var(--borde);
        background: var(--complementario);
        border-radius: var(--radius);
        margin-left: 0%;
        margin-bottom: 10px;
        line-height: var(--interlineado);
    }

    .tiposEsclerodermiabis {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        text-align: justify;
        border: var(--borde);
        background: var(--complementario);
        border-radius: var(--radius);
        margin-left: 0%;
        margin-bottom: 10px;
        line-height: var(--interlineado);
    }

    .cuerpotiposesclero {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 1vh;
        text-align: center;
    }

    .cuerpoesquemados {
        position: relative;
        animation-name: animerigth;
        animation-duration: 1s;
        margin: 1%;
    }

    .cuerpoesquemauno {
        position: relative;
        margin: 1%;
        animation-name: animeleft;
        animation-duration: 1s;
    }

    .titesclero {
        width: 100%;
    }

    .botonescler {
        width: 90%;
        height: 90%;
        background-color: var(--color_esquema_2);
        box-shadow: 0.5vh 0.5vh 0.5vh var(--sombra);
        border: var(--borde);
        border-radius: var(--radius);
        margin: 5px;
        font-size: smaller;
    }

    .divtipos {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw
            /*140px*/
        ;
        height: 11vh
            /*90px*/
        ;
        border: 1px solid var(--terciario);
        text-align: center;
        border-radius: var(--radius);
        background-color: var(--color_tipos1);
    }

    .divtiposbis {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw
            /*140px*/
        ;
        height: 11vh
            /*90px*/
        ;
        border: 1px solid var(--terciario);
        text-align: center;
        border-radius: var(--radius);
        background-color: var(--color_tipos2);
    }

    .divtiposblanco {
        display: none;

    }

    .divtiposblancobis {
        display: flex;
        width: 15.2vw
            /*140px*/
        ;
        height: 11vh
            /*90px*/
        ;
    }

    .divtiposcab {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 92.5vw
            /*140px*/
        ;
        height: 11vh
            /*90px*/
        ;
        border: 1px solid var(--terciario);
        text-align: center;
        border-radius: var(--radius);
        background-color: var(--color_tipos1);
    }

    .divtiposcabbis {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 92.5vw;
        height: 11vh;
        border: 1px solid var(--terciario);
        text-align: center;
        margin-top: 1%;
        border-radius: var(--radius);
        background-color: var(--color_tipos2);
    }

    .divflechahortiposblc {
        width: 1.7vw;
        height: 0.6vh;
    }

    .divflechahortiposblcbis {
        width: 33%;
        height: 0.6vh;
    }

    .divflechahortiposbis {
        width: 1.7vw
            /*40px*/
        ;
        height: 0.6vh
            /*5px*/
        ;
        border: var(--secundario);
        background-color: var(--secundario);
    }

    .divflechahortiposblcdos {
        width: 45.2vw
            /*40px*/
        ;
        height: 0.6vh
            /*5px*/
        ;
        border: var(--secundario);
    }

    .divflechahortiposblctres {
        width: 14.4vw
            /*40px*/
        ;
        height: 0.6vh
            /*5px*/
        ;
        border: var(--secundario);
    }

    .divflechahortiposblccuatro {
        width: 30.5vw
            /*40px*/
        ;
        height: 0.6vh
            /*5px*/
        ;
        border: var(--secundario);
    }

    .txtfichesclero {
        line-height: var(--interlineado);
        text-align: justify;
        padding: 0.8vh;
    }

    .imgtexto {
        width: 120px;
        float: left;
    }
/*--------------------NOTICIAS---------------------------------*/
#marco_galeria {

    width: 100%;
  
    border: 1px solid var(--borde);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--complementario);
    margin-bottom: 1rem;
}
.ficha_noticia{
    position: relative;
    width: 90%;
    height: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 align-content: center;
 border-radius: var(--radius);
 background-color:var(--complementario);
 margin-bottom: 1rem;
 animation-name: animeleft;
 animation-duration: 1s;
}
.texto_tit_noticia{
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: small;
    padding: 1%; 

}
.cuerpo_noticia{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    

}
.img_txt_noticia{
    position: relative;
    width: 40%;
    display: inline-block; 
}
.texto_noticia {
    text-align: justify;
    width: 100%;
    padding: 2%;
    font-size: small;
}
.cuerpo_noticia_b{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: x-small;
}
.img_txt_noticia_b{
    position: relative;
    width: 40%;
    height: 60%;
    display: inline-block; 
}
}