/*-----------------------GENERALES-----------------------------*/
* {
    box-sizing: border-box;
    margin: 0%;
}

/*---------------------------EFECTOS------------------------*/
@keyframes animelogo{
    0%{ opacity:0;}5%{opacity:0.5;}10%{opacity:0.1 ;}15%{opacity:0.15;}20%{opacity:0.2;}25%{opacity:0.25;}30%{opacity:0.3;}35%{opacity:0.35;}
    40%{opacity:0.4;}45%{opacity:0.45;}50%{opacity:0.5 ;}55%{opacity:0.55;}60%{opacity: 0.6;}65%{opacity:0.65;}70%{opacity:0.7 ;}
    75%{opacity:0.75;}80%{opacity:0.8 ;}85%{opacity:0.85;}90%{opacity:0.9 ;}95%{opacity:0.95;}100%{opacity:1;}
} 
@keyframes deslizamientoder_izq{
0%   {visibility:none; left:-200px; top:-200px;}
15%{visibility:none; left:-175px; top:-175px;}
  25% {visibility:none; left:-125px; top:-125px;}
  35%{visibility:none; left:-100px; top:-100px;}
  50%  {visibility:none; left:-75px; top:-75px;}
  65%{visibility:none; left:-75px; top:-75px;}
  75%{visibility:none; left:-50px; top:-50px;} 
  85%{visibility:beige; left:-25px; top:-25px;}
  100% {color:beige; left:0px; top:0px;}
}
/*-----------------------HEADER-----------------------------*/
.cont_header_recuerdo {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    animation-name:animelogo;
    animation-duration: 1.5s;  
  
}

.cont_img_header_recuerdo {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.cont_txt_header_recuerdo {
    position: relative;
    width: 30%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif/*'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif*/;
    font-size:x-large;
    text-align: center;
    text-shadow: 0 0 3px yellow;
    color: beige;
    margin-top: 1%;
    animation-name:animelogo; 
    animation-duration: 0.5s;
}

.img-header {
    position: relative;
    width: 37rem;
    height: 27rem;
    margin-top: 1%;
    border-radius: 15px;
}

/*-----------------------MAIN-----------------------------*/
.main_recuerdo {
    margin-top: 2%;
    background-color: black
    /*linear-gradient(to bottom left,antiquewhite,darkgray,darkgray )*/
    ;

}
.cont_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center ;
    align-content: center;
   
}
.cont_txt{
    position: relative;
    width: 45%; 
       background-image:radial-gradient(antiquewhite, antiquewhite,black,black);
    padding: 0.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:medium;
    padding: 1%;
}
.txt_recuerdo{
    position: relative;
    width:50% ;
    font-size: smaller;
    text-align: center;
    padding:4% ;
 
}
.galeria_recurd{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 5%;
    margin-bottom: 10%;

}
.cont_img_recurd{
    width: 279px;
    height: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: /*rgb(255, 255, 255)*/rgb(240, 240, 228);
    border: 0.3px solid rgba(0, 0, 0, 0.123);
}
.img_galr_recurd{
    width: 90%;
    height: 75%;
    margin-bottom: 22%;
    
}
.img_glr_rcrd1{
    rotate:-20deg;
   
}
.img_glr_rcrd2{
    rotate:10deg;
   
}
.img_glr_rcrd4{
    rotate:-20deg;
}
.img_glr_rcrd3{
    rotate:10deg;
}
.text_prov {
    
    color: red;
}
.cont_img_txt_rcrd{
    position: relative;
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 10%;

}
.ficha_img_recuerdo_der,
.ficha_img_recuerdo_iz{
    width: 30%;
    margin-inline: 2%;
    border-radius: 5px;
}
.img_txt_rcrd{
    width: 100%;
    
    
}
#txt_img_rcrd1{
    position: absolute;
    width: 19%;
    text-align: center;
    margin-right: 45%;
    z-index: 2;
    background-color: rgba(255, 255, 255,0.5);
    padding: 0.7%;
}
#txt_img_rcrd2{
    position: absolute;
    width: 19%;
    text-align: center;   
    margin-left: 11%;
    z-index: 2;
    background-color: rgba(255, 255, 255,0.5);
    padding: 0.7%;
}
.cont_imgesquina_rcrd{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 5px;  
    margin-bottom: 10%;
}
.img_disdimg_rcrd2{
    width: 20%;
    float: right;
    border-radius:120% 120% 120% 120%;
    /*box-shadow:0.6vh 0.6vh 0.6vh  ;
    border: 1px solid transparent;*/
    background-image:radial-gradient(antiquewhite, antiquewhite,black,black);
    margin-bottom: 1%;
}
.img_disdimg_rcrd{
    width: 20%;
    float: right;
    border-radius:120% 120% 120% 120%;
    box-shadow:0.6vh 0.6vh 0.6vh rgba(255, 166, 0, 0.308) ;
    border: 1px solid transparent;
    
    margin-bottom: 1%;

}
.txt_imgesquina_rcrd{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
   
}
/*animation-iteration-count: 10; Esto es para decir cuantas veces queremos repetir la animación, puede utilizarse para hacer repetir algo mientras el usuario hace scroll, como un opacity de una img*/

@media screen and (max-width: 780px) {
    .main_recuerdo {
        margin-top: 2%;
        background-color: black
        /*linear-gradient(to bottom left,antiquewhite,darkgray,darkgray )*/
        ;
    
    }
    .img-header {
        position: relative;
        width: 100%;
      
        margin-top: 1%;
        border-radius: 15px;
    }
    .cont_main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center ;
        align-content: center;
       
    }
    .cont_txt{
        position: relative;
        width: 100%; 
        background-image:radial-gradient(antiquewhite, antiquewhite, antiquewhite,black,black);
        padding: 0.5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size:medium;
        padding: 1%;
    }
    .txt_recuerdo{
        position: relative;
        width:70% ;
        font-size: smaller;
        text-align: center;
        padding:4% ;
      
    }
    .galeria_recurd{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 15%;
        margin-bottom: 15%;
    
    }
    .cont_img_recurd{
        width: 150px;
        height: 190px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: /*rgb(255, 255, 255)*/rgb(250, 250, 229);
    }
  
    .ficha_img_recuerdo_der{
        width: 71%;
    margin-right: 20%;
    border-radius: 5px;
    }
    .ficha_img_recuerdo_iz{
    width: 63%;
    margin-left: 30%;
    border-radius: 5px;
}
    .img_galr_recurd{
        width: 90%;
        height: 75%;
        margin-bottom: 22%;
        
    }
    .img_glr_rcrd1{
        rotate:-20deg;
    }
    .img_glr_rcrd2{
        rotate:10deg;
       
    }
    .img_glr_rcrd4{
        rotate:10deg;
    }
    .img_glr_rcrd3{
        rotate:-20deg;
    }
    .text_prov {
        color: red;
    }
    .cont_img_txt_rcrd{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-bottom: 15%;
    
    }
    .img_txt_rcrd{
        width: 100%;
        
    }
    #txt_img_rcrd1{
        position: absolute;
        width: 35%;
        text-align: center;
        margin-top: 0%;
        margin-left: 0%;
        z-index: 2;
        background-color: rgba(255, 255, 255,0.5);
        padding: 0.7%;
    }
    #txt_img_rcrd2{
        position: absolute;
        width: 35%;
        text-align: center;
        margin-top: 0%;
        margin-left: 0%;
        z-index: 2;
        background-color: rgba(255, 255, 255,0.5);
        padding: 0.7%;
    }
    .cont_imgesquina_rcrd{
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        border-radius: 5px;  
        margin-bottom: 15%;
    }
    .img_disdimg_rcrd2{
        width: 35%;
        float: right;
        border-radius:120% 120% 120% 120%;
        /*box-shadow:0.6vh 0.6vh 0.6vh  ;
        border: 1px solid transparent;*/
        background-image:radial-gradient(antiquewhite, antiquewhite,black,black);
        margin-bottom: 1%;
    }
    .img_disdimg_rcrd{
        width: 40%;
        float: right;
        border-radius:120% 120% 120% 120%;
        box-shadow:0.6vh 0.6vh 0.6vh rgba(255, 166, 0, 0.308) ;
        border: 1px solid transparent;
        margin-bottom: 1.5%;
    }
    .txt_imgesquina_rcrd{
        position: relative;
        color: white;

    }

}