@media screen and (max-width: 780px) {
    :root {
        /*----------header-------------------------*/
      
        --media_tam単o_letra_nav_web:small;
        --ancho_nav_web: fit-content;
        --color_letras_nav_header_web: black;
        --colorfondo_nav_header_web:rgba(187, 181, 181, 0.801);
    }
    /*------------------------------------Header-------------------------------------------*/
    .cont_logo_menu_header {
        position: relative;
        width: var(--tama単o_logo);
        display: flex;
        justify-content: center;
        align-content: center;
    
    }
    
    .logo_header_web {
        position: relative;
        width: 100%;
    
    }
    .cont_nav_header {
        position: relative;
        width: var(--tama単o_nav_web);
        height: var(--ancho_nav_web);
        display: inline-flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        background-color: var(--colorfondo_nav_header_web);
    
    }
    .cont_nav_header a{
        text-decoration: none;
        font-size: var(--media_tama単o_letra_nav_web);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: var(--color_letras_nav_header_web);
    }
}