  
    @media screen and (max-width: 780px) {
  :root {
        /*----------header-------------------------*/
      
        --media_tamño_letra_nav_web:small;
        --ancho_nav_web: fit-content;
        --color_letras_nav_header_web: black;
        --colorfondo_nav_header_web:rgba(187, 181, 181, 0.801);
    }
    /*------------------------------------Header-------------------------------------------*/
    .cont_logo_menu_header {
        position: relative;
        width: var(--tamaño_logo);
        display: flex;
        justify-content: center;
        align-content: center;
    
    }
    
    .logo_header_web {
        position: relative;
        width: 100%;
    
    } 
    .cont_nav_header a{
        text-decoration: none;
       
         font-size: var(--media_tamño_letra_nav_web);
        color: var(--color_letras_nav_header_web);
    }
}
    .cont_nav_header {
        position: relative;
        width: var(--tamaño_nav_web);
        height: var(--ancho_nav_web);
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        background-color: var(--colorfondo_nav_header_web);
    
    }
   